//Main color
$mainColor: #6db2c5;
$mainColor_light: #92c5d3;
$mainColor_dark: #499fb6;

$primary_subColor: #888;
$primary_subColor_light: #999;
$primary_subColor_dark: #777;

$secondary_subColor: #e3e8ec;
$secondary_subColor_light: #ecf1f5;
$secondary_subColor_dark: #96a4ab;

//Status
$agree: #2966ba;
$warning: #c53e38;
$caution: #efaa46;

//Button & Background Color
$btn_whiteColor: #fff;
$btn_whiteColor_hover: #f9f9f9;
$btn_whiteColor_active: #eee;

$btn_darkColor: #383e44;
$btn_darkColor_hover: #40474e;
$btn_darkColor_active: #2d3236;

$bg_primary: #fdfdfd;
$bg_secondary: #eee;
$bg_thirdary: #ddd;

//Font Color
$font100: #fbfbfb;
$font200: #bbbbbb;
$font300: #8b8b8b;
$font400: #4b4b4b;
$font500: #2b2b2b;

//label colors
$label_dark: rgb(16, 73, 100);