@import './config__typography';
@import './config__color';

//side nav button
@mixin navButton {
    display: block;
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
}

//button
.go_btn {
    padding: 6px;
    background-color: $btn_darkColor;
    border-radius: 10px;
    font-size: 10px;
    color: white;
    &:hover{
        background-color: $btn_darkColor_hover;
    }
}

@mixin detailButton($bgColor: $btn_darkColor) {
    text-decoration: none;
    border-radius: 30px;
    background-color: $bgColor;
    color: white;
    padding: 3px 10px 3px 10px;
    cursor: pointer;
    &:hover{
        background-color: darken($color: $bgColor, $amount: 10);
    }
}

//layout box
@mixin contentBox{
    width: 90%;
    border-radius: 10px;
    margin-left: 20px;
    height: 300px;
    overflow: hidden;
}

@mixin dashboardBox{
    @include contentBox;
    display: flex;
    padding: 50px;
    margin-bottom: 50px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

@mixin dataTable{
    .top{
        position: relative;
        &-title{
            margin-bottom: 20px;
            margin-left: 10px;
        }
        &-search_menu{
            display: flex;
            position: absolute;
            right: 8%;
            bottom: 0;
        }
    }
    .bottom{
        margin-top: 20px;
        margin-bottom: 40px;
        table{
            width: 100%;
            border-collapse: collapse;
        }
        .head{
            button{
                padding-top: 10px;
                padding-bottom: 20px;
                font-size: 15px;
                font-weight: $regular;
                background-color: $btn_whiteColor;
                color: $btn_darkColor;
                width: 100%;
                border: none;
                outline: none;
                height: 40px;
            }
        }
        td{
            padding: 10px;
            text-align: center;
        }
        tr {
            font-weight: $thin;
            padding: 10px;
            border-bottom: 0.5px solid rgb(219, 219, 219);
        }
        .table_scroll{
            @include contentBox;
            box-shadow: 0 9px 19px rgba(0,0,0,0.30), 0 7px 6px rgba(0,0,0,0.22);
            overflow-y: scroll;
        }
        .table_scroll::-webkit-scrollbar {
            display: none;
        }
        .overdate{
            color: $warning; 
            font-weight: $medium;
        }
        .complete{
            color: $caution; 
            font-weight: $regular;
        }
    }
}

//chat box
@mixin msg_contents($color: white, $bgColor: $chatBox, $timeColor: rgba(255, 255, 255, 0.685)) {
    margin: 10px 7px 10px 7px;
    border-radius: 10px;
    background-color: $bgColor;
    padding: 5px 10px 5px 10px;
    color: $color;
    width: 60%;
    word-wrap: break-word;
    .chat_time{
        float:right;
        font-size: 11px; 
        color: $timeColor;
    }
    
}