//Main color
$mainColor: #6db2c5;
$mainColor_light: #92c5d3;
$mainColor_dark: #499fb6;

//Point Color
$mainPointColor1: #ecb939;
$mainPointColor2: #f0c75e;
$mainPointColor3: #726255;
$mainPointColor4: #372e29;
$mainPointColor5: #000000;

$primary_subColor: #888;
$primary_subColor_light: #999;
$primary_subColor_dark: #777;

$secondary_subColor: #e3e8ec;
$secondary_subColor_light: #ecf1f5;
$secondary_subColor_dark: #96a4ab;

//Status
$agree: #2966ba;
$warning: rgb(145, 1, 1);
$caution: #efaa46;

//chat color
$chatBox: #f0cf85;

//Button & Background Color
$btn_whiteColor: rgb(240,240,240);
$btn_whiteColor_hover: #f9f9f9;
$btn_whiteColor_active: #eee;

$btn_darkColor: #30343A;
$btn_darkColor_hover: rgb(77, 77, 77);
$btn_darkColor_active: #2d3236;

$btn_borderColor: #D7B889;
$btn_shadow: rgb(88, 78, 48);

$bg_primary: #fdfdfd;
$bg_secondary: #eee;
$bg_thirdary: #ddd;

$bg_dark: #30343A;


//Font Color
$font100: #fbfbfb;
$font200: #bbbbbb;
$font300: #8b8b8b;
$font400: #4b4b4b;
$font500: #2b2b2b;
