@import './config__typography';
@import './config__color';

* {
    margin: 0;
    padding: 0;
 
    font-family: $_base-font-family;
    box-sizing: border-box;
}
html, body{
   height: 100%;
   display: flex;
   flex-direction: column;
}

*:focus{
    outline: none;
}

.header {
    height: 75px;
    position: absolute;
    right: 8%;
    &--nav{
        
        display: flex;
        list-style: none;

        &_menu{
            padding: 30px;
        }
    }
}



.mid {
    // z-index: 30;
    display: flex;
    flex-direction: row;
    flex: 1;

    .go_btn{
        padding: 6px;
        background-color: $btn_darkColor;
        border-radius: 10px;
        font-size: 10px;
        color: white;
        text-decoration: none;
        &:hover{
            background-color: rgb(77, 77, 77);
        }
    }
    


    .sidenav {
        
        display: flex;
        flex-direction: column;
        width: 280px;
        background-color:  #30343A;
        border-radius: 0px 50px 50px 0px;

        &--logo{
            margin-top: 40px;
            width: 240px; 
        }
        &--menu{
            margin-top: 120px;
            display: flex;
            flex-direction: column;

            &_sub{
                font-size: 15px;
                color: #CDCDCD;
                font-weight: $light;
                text-decoration: none;
                padding: 20px 0px 20px 50px;

                &-active{

                    font-size: 15px;
                    color: #CDCDCD;
                    font-weight: $light;
                    text-decoration: none;
                    padding: 20px 0px 20px 50px;
                    background-color: rgba(69, 74, 82, 0.445);
                    position: relative;
    
                    &:after{
                        display: block;
                        content: "";
                        width: 12px;
                        height: 12px;
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        border-top: 3px solid #D7B889;
                        border-left: 3px solid #D7B889;
                        
                    }
                    
            
                    &:before {
                        display: block;
                        content: "";
                        width: 12px;
                        height: 12px;
                        position: absolute;
                        bottom: 0px;
                        right: 0px;
                        border-bottom: 3px solid #D7B889;
                        border-right: 3px solid #D7B889;
                      }
                
                }
            }
            
            &_sub:hover{
                background-color: rgba(69, 74, 82, 0.445);
                position: relative;

                &:after{
                    display: block;
                    content: "";
                    width: 12px;
                    height: 12px;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    border-top: 3px solid #D7B889;
                    border-left: 3px solid #D7B889;
                    
                }
                
        
                &:before {
                    display: block;
                    content: "";
                    width: 12px;
                    height: 12px;
                    position: absolute;
                    bottom: 0px;
                    right: 0px;
                    border-bottom: 3px solid #D7B889;
                    border-right: 3px solid #D7B889;
                  }
            }
        }
        
    }

    .dashboard{

        margin-top: 80px;
        display: flex;
        flex: 1;
        flex-direction: column;
        padding: 20px;

        
        &--title{
            font-size: 20px;
            margin-bottom: 30px;
            font-family: 'Lato', sans-serif;
            color: rgb(54, 54, 54);
            margin-left: 10px;
            letter-spacing: 0.5px;
        }
        &--board{
            &_undone{
                margin-top: 20px;
                position: relative;
                width: 250px;
                height: 180px;
                box-shadow: 0 3px 6px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
                background-color: rgba(253, 242, 214, 0.521);
                margin-right: 30px;
                &-label{
                    padding: 10px;
                    text-align: center;
                    font-size: 15px;
                    // letter-spacing: -1.5px;
                    font-family: 'Lato', sans-serif;
                    color: rgb(175, 150, 85);
                }
                &-num{
                    color: rgba(70, 59, 33, 0.521);
                    font-size: 50px;
                    margin-top: 60px;
                    margin-left: 180px;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    padding: 30px;

                }
            }
            width: 90%;
            display: flex;
            padding: 50px;
            height: 300px;
            border-radius: 30px;
            background-color: rgba(248, 248, 248, 0.664);
            margin-left: 10px;
            margin-bottom: 50px;
            overflow: hidden;
            box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
        }


        &--table{

            border-collapse: collapse;
            box-shadow: 0 9px 19px rgba(0,0,0,0.30), 0 7px 6px rgba(0,0,0,0.22);
            width: 90%;
            margin-left: 20px;
            border-radius: 10px;
            margin-bottom: 30px;

            &_head{
                padding: 10px;
                button{
                    font-size: 15px;
                    font-weight: $regular;
                    background-color: rgb(240, 240, 240);
                    color: rgb(68, 68, 68);
                    width: 100%;
                    border: none;
                    outline: none;
                    height: 40px;
                    
                }
            }
            
            td{
                padding: 10px;
                text-align: center;
            }
            tr{
                font-weight: $thin;
                padding: 10px;
                border-bottom: 0.5px solid rgb(219, 219, 219);
              }
            

        }
    }
    .requests{

        margin-top: 100px;
        display: flex;
        flex: 1;
        flex-direction: column;
        padding: 20px;

        &-table{
            &-top{
                position: relative;

            }
            &-bottom{
                margin-top: 30px;
                margin-bottom: 50px;
                .table_scroll{
                    width: 90%;
                    box-shadow: 0 9px 19px rgba(0,0,0,0.30), 0 7px 6px rgba(0,0,0,0.22);
                    margin-left: 20px;
                    border-radius: 10px;
                    height: 250px;
                    overflow-y: scroll;
                }
                .table_scroll::-webkit-scrollbar {
                    display: none;
                  }

            }
        }
        .search_menu{
            
            display: flex;
            position: absolute;
            right: 10%;
            bottom: 0;
    
        }

        &-on-run{
            margin-top: 20px;
            
            table{
                width: 100%;
                border-collapse: collapse;



            }
    
            .head{
                button{
                    padding-top: 10px;
                    padding-bottom: 20px;
                    font-size: 15px;
                    font-weight: $regular;
                    background-color: rgb(240, 240, 240);
                    color: rgb(68, 68, 68);
                    width: 100%;
                    border: none;
                    outline: none;
                    height: 40px;
                }
            }
            td{
                padding: 10px;
                text-align: center;
            }
    
            tr {
                font-weight: $thin;
                padding: 10px;
                border-bottom: 0.5px solid rgb(219, 219, 219);
            }

            
        }
    
        
        
    
        &-title{
            font-size: 20px;
            margin-bottom: 30px;
            font-family: 'Lato', sans-serif;
            color: rgb(54, 54, 54);
            margin-left: 10px;
            letter-spacing: 0.5px;
        }
    
        
    
    
        &-total{
            
            margin-top: 30px;
            table{
                width: 100%;

            }
    
            .head{
                button{
                    padding-top: 10px;
                    padding-bottom: 20px;
                    font-size: 15px;
                    font-weight: $regular;
                    background-color: rgb(240, 240, 240);
                    color: rgb(68, 68, 68);
                    width: 100%;
                    border: none;
                    outline: none;
                    height: 40px;
                }
            }
            td{
                padding: 10px;
                text-align: center;
            }
    
            tr {
                font-weight: $thin;
                padding: 10px;
                border-bottom: 0.5px solid rgb(219, 219, 219);
            }
        }
    }
}




//SHOW.HTML


.eachRequest{
    display: flex;
    flex-direction: column;
    flex: 1;

    margin: 30px 100px;
    padding: 0 100px;
    border-radius: 30px;
    background-color: rgba(248, 248, 248, 0.664);
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

    label img{
        width: 16px;
        height: 16px;
    }


    &--editbtn{
        position: absolute;
        right:0;
        margin-right: 50px;
        text-decoration: none;
        border-radius: 30px;
        background-color: $btn_darkColor;
        color: white;
        padding: 10px;
    }
    &--editbtn:hover{
        background-color: $btn_darkColor_hover;
    }

    &--header{
        display: inline-flex;
        margin-top: 50px;
        margin-bottom: 20px;
    }

    &--status{
        display: inline-flex;
        align-items: center;
        h2{
            //background-color:  rgb(175, 150, 85);
            color: white;
            border-radius: 10px;
            padding: 5px;
        }
    }
    &--plan{
        margin: 10px;

        border: 2px rgb(143, 142, 142) solid;
        border-radius: 20px;
        padding: 20px;

        &_img{
            margin: 20px;
            width:350px;
            background-color: rgba(248, 248, 248, 0.664);
            box-shadow: 0 15px 34px rgba(0,0,0,0.30), 0 11px 8px rgba(0,0,0,0.22);
        
        }
        &_btn{
            margin-top: 5px;
            background-color: $btn_darkColor;
            border-radius: 30px;
            height: 30px;
            color: white;
            text-align: center;
        }
        &_btn:hover{
            background-color: $btn_darkColor_hover;
        }
        &_wrapper{
            display: flex;
            flex-wrap: wrap;
            margin-left: 20px;

            &-small{
                display: flex; 
                flex-direction: column;
                margin: 10px;
            }
        }

    }
    &--info{
        margin: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        border: 2px rgb(143, 142, 142) solid;
        border-radius: 20px;
        padding: 20px;
    }

    &--stheme{
        display: flex;
        flex-direction: row;
        margin: 10px;
        margin-bottom: 20px;

        border: 2px rgb(143, 142, 142) solid;
        border-radius: 20px;
        padding: 20px;
        &_img{
            margin: 5px;
            width: 350px;
            height: 350px;
        }
        &_wrapper{
            display: flex;
            flex-wrap: wrap;

            &-small{
                display: flex; 
                flex-direction: column;
            }
        }

    }

    &--utheme{
        display: flex;
        flex-direction: row;
        margin: 10px;
        margin-bottom: 20px;
        border: 2px rgb(143, 142, 142) solid;
        border-radius: 20px;
        padding: 20px;
        &_img{
            margin: 5px;
            width: 350px;
            height: 350px;
        }
        &_wrapper{
            display: flex;
            flex-wrap: wrap;

            &-small{
                display: flex; 
                flex-direction: column;
            }
        }

    }
    label{
        font-size: 20px;
    }
}




// PROGRESS BAR //
.progress {
    width: 1000px;
    margin: 20px auto;
    text-align: center;
}
.progress .circle,
.progress .bar {
    display: inline-block;
    background: #fff;
    width: 40px; height: 40px;
    border-radius: 40px;
    border: 1px solid #d5d5da;
}
.progress .bar {
    position: relative;
    width: 80px;
    height: 6px;
    top: -33px;
    margin-left: -5px;
    margin-right: -5px;
    border-left: none;
    border-right: none;
    border-radius: 0;
}
.progress .circle .label {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 32px;
    margin-top: 3px;
    color: #b5b5ba;
    font-size: 17px;
}
.progress .circle .title {
    color: #b5b5ba;
    font-size: 13px;
    line-height: 30px;
    margin-left: -5px;
}
    
/* Done / Active */
.progress .bar.done,
.progress .circle.done {
    background: #eee;
}
.progress .bar.active {
    background: linear-gradient(to right, #EEE 40%, #FFF 60%);
}
.progress .circle.done .label {
    color: #FFF;
    background: #726255;
    box-shadow: inset 0 0 2px rgba(0,0,0,.2);
}
.progress .circle.done .title {
    color: #444;
}
.progress .circle.active .label {
    color: #FFF;
    background: #f0c75e;
    box-shadow: inset 0 0 2px rgba(0,0,0,.2);
}
.progress .circle.active .title {
    color: #f0c75e;
}

//Edit Page

.edit{

    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 80px 50px;
    padding: 0 50px;
    height: 50%;
    
    

    &__title{

        display: flex;
        flex-direction: column;
        margin-top: 80px;
        padding: 10px 0;

        &-label{
            padding: 5px;
            border-radius: 10px;
            width: fit-content;
            margin-top: 10px;
            color: white;
            font-weight: $bold;
            margin-bottom: 20px;
            background-color:rgb(233, 189, 94);
        }
        &-num{
            font-size: 30px;
            font-weight: $light;
        }
    }
    &__mid{
        display: flex;
        flex-direction: row;
        height: 100%;
    }

    &__data{
        width: 100%;
        margin-top: 10px;

        form{

            display: flex;
            flex-direction: column;
            padding: 10px 0;

            label{
                color: #30343A;
                font-size: 15px;
                font-weight: $bold;
                margin: 7px 0;

            }

            .progress_btncontainer{

                display: flex;
                flex-direction: column;
                padding: 10px;
            }
            .progress_btn{
                
                width: 100%;
                height: 50px;
                font-size: 15px;
                border-radius: 10px;
                color: white;
                border: 0;
                background-color: $btn_darkColor;
                margin: 3px;
                box-shadow:inset 0px -2px 2px 1px rgba(85, 85, 85, 0.6),
                0px 3px 4px rgba(85, 85, 85, 0.6);
                &:hover {
                    background-color: rgb(226, 198, 122);
                }
            }
            .clicked{
                border: 0;
                color: white;
                background-color: rgb(226, 198, 122);
                width: 100%;
                height: 50px;
                font-size: 15px;
                border-radius: 10px;
                margin: 3px;
                box-shadow:inset 0px 0px 4px -1px rgb(88, 78, 48);
            }

            button:disabled,button[disabled]{
                opacity: 20%;
                cursor:not-allowed !important;
            }
            
            .due_atbox{
                width: 250px;
                height: 40px;
                font-size: 20px;
                margin-left: 20px;
                margin-bottom: 10px;
                border-right:0px;
                border-top:0px; 
                border-left:0px; 
                border-bottom:1px black solid;

            }
            .extrabox{
                width: 180%;
                height: 250px;
                font-size: 15px;
                margin: 10px 20px;
                margin-bottom: 10px;
                border:2px rgba(0, 0, 0, 0.185) solid;
                border-radius: 10px;
                padding: 10px;
                outline: none;

            }

            .submit{
                width: 180%;
                height: 50px;
                padding-top: 10px;
                padding-bottom: 10px;
                margin-top: 50px;
                margin-left: 20px;
                font-size: 15px;
                text-align: center;

                color: white;
                background-color: #30343A;
                border: 0;
                border-radius: 10px;
                outline: none;
                box-shadow:inset 0px -2px 2px 1px rgba(85, 85, 85, 0.6),
                0px 3px 4px rgba(85, 85, 85, 0.6);

                &:hover{
                    background-color: rgb(226, 198, 122);              
                }
            }
            
        }

    }

}