@import './config__typography';
@import './config__color';
@import "https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.6.3/flexslider.min.css";


* {
    margin: 0;
    padding: 0;
 
    // font-family: $_base-font-family;
    box-sizing: border-box;
}
html, body{
   height: 100%;
   display: flex;
   flex-direction: column;
}

*:focus{
    outline: none;
}

.header {
    font-family: $_base-font-family;
    height: 75px;
    position: absolute;
    right: 3%;
    &--nav{
        display: flex;
        list-style: none;
        text-align: center;
        
        &_menu{
            padding: 30px;
            a{ 
                color: black;
                text-decoration: none;
            }
        }
    }
    .count-num1{
        position:absolute;
        top: 20%;
        right: 23%;
        // margin-left: 5px;
        font-weight: $black;
        font-size: 12px;
        background-color: rgba(243, 187, 34, 0.692);
        
        color: white;
        border-radius: 100%;
        width: 20px;
        height: 20px;

    }
    .count-num2{
        position:absolute;
        top: 20%;
        right: 3%;
        // margin-left: 5px;
        font-weight: $black;
        font-size: 12px;
        background-color: rgba(243, 187, 34, 0.692);
        // padding-bottom: 3px;
        color: white;
        border-radius: 100%;
        width: 20px;
        height: 20px;

    }
}



.mid {
    // z-index: 30;
    display: flex;
    flex-direction: row;
    flex: 1;
    // max-width: 100%;
    // overflow-x: hidden;
    // height: 100%;

    // in dashboard table, "click" button
    .go_btn{
        padding: 6px;
        background-color: $btn_darkColor;
        border-radius: 10px;
        font-size: 10px;
        color: white;
        text-decoration: none;
        &:hover{
            background-color: rgb(77, 77, 77);
        }
    }


    

    //side navbar
    .sidenav {
        font-family: $_base-font-family;
        display: flex;
        flex-direction: column;
        width: 18%;
        min-width: 18%;
        background-color:  #30343A;
        border-radius: 0px 50px 50px 0px;

        &--logo{
            margin-top: 40px;
            width: 90%; 
        }
        &--menu{
            margin-top: 150px;
            display: flex;
            flex-direction: column;

            &_sub{
                font-size: 15px;
                color: #CDCDCD;
                font-weight: $light;
                height: 80px;
                text-decoration: none;
                padding: 9% 10% 12% 15%;
                // margin-bottom:1px;
                // text-align: center;
                

                &-active{
                    height: 80px;
                    font-size: 15px;
                    color: #CDCDCD;
                    font-weight: $light;
                    text-decoration: none;
                    padding: 9% 10% 12% 15%;
                    background-color: rgba(69, 74, 82, 0.445);
                    position: relative;
    
                    &:after{
                        display: block;
                        content: "";
                        width: 12px;
                        height: 12px;
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        border-top: 3px solid #D7B889;
                        border-left: 3px solid #D7B889;
                        
                    }
                    
            
                    &:before {
                        display: block;
                        content: "";
                        width: 12px;
                        height: 12px;
                        position: absolute;
                        bottom: 0px;
                        right: 0px;
                        border-bottom: 3px solid #D7B889;
                        border-right: 3px solid #D7B889;
                      }
                
                }
            }
            
            &_sub:hover{
                background-color: rgba(69, 74, 82, 0.445);
                position: relative;

                &:after{
                    display: block;
                    content: "";
                    width: 12px;
                    height: 12px;
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    border-top: 3px solid #D7B889;
                    border-left: 3px solid #D7B889;
                    
                }
                
        
                &:before {
                    display: block;
                    content: "";
                    width: 12px;
                    height: 12px;
                    position: absolute;
                    bottom: 0px;
                    right: 0px;
                    border-bottom: 3px solid #D7B889;
                    border-right: 3px solid #D7B889;
                  }
            }
        }
        
    }

    .dashboard{
        font-family: $_base-font-family;
        margin-top: 80px;
        display: flex;
        flex: 1;
        flex-direction: column;
        padding: 20px;
       
        &--title{
            font-size: 20px;
            margin-bottom: 30px;
            font-family: 'Lato', sans-serif;
            color: rgb(54, 54, 54);
            margin-left: 10px;
            letter-spacing: 0.5px;
        }
        &--board{
            &_undone{
                margin-top: 20px;
                position: relative;
                width: 250px;
                height: 180px;
                box-shadow: 0 3px 6px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
                background-color: rgba(253, 242, 214, 0.521);
                margin-right: 30px;
                &-label{
                    padding: 10px;
                    text-align: center;
                    font-size: 15px;
                    // letter-spacing: -1.5px;
                    font-family: 'Lato', sans-serif;
                    color: rgb(175, 150, 85);
                }
                &-num{
                    border-top: 1px solid rgb(196, 187, 165);
                    color: rgba(70, 59, 33, 0.521);
                    text-align: left;
                    font-size: 20px;
                    //position: absolute;
                    padding: 20px;

                }
            }
            width: 90%;
            display: flex;
            padding: 50px;
            height: 300px;
            border-radius: 30px;
            background-color: rgba(248, 248, 248, 0.664);
            margin-left: 10px;
            margin-bottom: 50px;
            overflow: hidden;
            box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
        }


        &--table{

            border-collapse: collapse;
            box-shadow: 0 9px 19px rgba(0,0,0,0.30), 0 7px 6px rgba(0,0,0,0.22);
            width: 90%;
            margin-left: 20px;
            border-radius: 10px;
            margin-bottom: 30px;

            &_head{
                padding: 10px;
                button{
                    font-size: 15px;
                    font-weight: $regular;
                    background-color: rgb(240, 240, 240);
                    color: rgb(68, 68, 68);
                    width: 100%;
                    border: none;
                    outline: none;
                    height: 40px;
                    
                }
            }
            .overdate{
                color: rgb(145, 1, 1); 
                font-weight: 500;
            }
            
            td{
                padding: 10px;
                text-align: center;
            }
            tr{
                font-weight: $thin;
                padding: 10px;
                border-bottom: 0.5px solid rgb(219, 219, 219);
              }
            

        }
    }
    .requests{
        font-family: $_base-font-family;
        margin-top: 100px;
        display: flex;
        flex: 1;
        flex-direction: column;
        padding: 20px;

        &-table{
            &-top{
                position: relative;

            }
            &-bottom{
                margin-top: 30px;
                margin-bottom: 50px;
                .table_scroll{
                    width: 90%;
                    box-shadow: 0 9px 19px rgba(0,0,0,0.30), 0 7px 6px rgba(0,0,0,0.22);
                    margin-left: 20px;
                    border-radius: 10px;
                    height: 300px;
                    overflow-y: scroll;
                    .overdate{
                        color: rgb(145, 1, 1); 
                        font-weight: 500;
                    }
                    .complete{
                        color: rgb(214, 145, 18); 
                        font-weight: 400;
                    }
                }
                .table_scroll::-webkit-scrollbar {
                    display: none;
                  }

            }
        }
        .search_menu{
            
            display: flex;
            position: absolute;
            right: 8%;
            bottom: 0;
    
        }
        &-on-run{
            margin-top: 20px;
            
            table{
                width: 100%;
                border-collapse: collapse;
            }
    
            .head{
                button{
                    padding-top: 10px;
                    padding-bottom: 20px;
                    font-size: 15px;
                    font-weight: $regular;
                    background-color: rgb(240, 240, 240);
                    color: rgb(68, 68, 68);
                    width: 100%;
                    border: none;
                    outline: none;
                    height: 40px;
                }
            }
            td{
                padding: 10px;
                text-align: center;
            }
    
            tr {
                font-weight: $thin;
                padding: 10px;
                border-bottom: 0.5px solid rgb(219, 219, 219);
            }

            
        }
        &-title{
            font-size: 20px;
            margin-bottom: 30px;
            font-family: 'Lato', sans-serif;
            color: rgb(54, 54, 54);
            margin-left: 10px;
            letter-spacing: 0.5px;
        }
        &-total{
            
            margin-top: 30px;
            table{
                width: 100%;
                border-collapse: collapse;
            }
    
            .head{
                button{
                    padding-top: 10px;
                    padding-bottom: 20px;
                    font-size: 15px;
                    font-weight: $regular;
                    background-color: rgb(240, 240, 240);
                    color: rgb(68, 68, 68);
                    width: 100%;
                    border: none;
                    outline: none;
                    height: 40px;
                }
            }
            td{
                padding: 10px;
                text-align: center;
            }
    
            tr {
                font-weight: $thin;
                padding: 10px;
                border-bottom: 0.5px solid rgb(219, 219, 219);
            }
        }
    }
}



.swal-overlay{
    font-family: $_base-font-family;
}
//SHOW.HTML
.eachRequest{

    width:100vh;
    font-family: $_base-font-family;
    margin-top: 80px;
    display: flex;
    flex: 1;
    flex-direction: row;
    padding: 20px;
    position: relative;

    
    &--request{
        // margin-right: 100px;
        width: 60%;
        position: relative;
        &--btnwrapper{
            margin-top: 10px;
            position: absolute;
            right: 0%;
        }
    }
    
    &--editbtn{
        margin-right: 10px;
        text-decoration: none;
        border-radius: 30px;
        background-color: $btn_darkColor;
        color: white;
        padding: 3px 10px 3px 10px;
    }
    &--editbtn:hover{
        background-color: $btn_darkColor_hover;
    }
    &--deletebtn{
        text-decoration: none;
        border-radius: 30px;
        background-color: rgb(112, 10, 10);
        color: white;
        padding: 3px 10px 3px 10px;
    }
    &--deletebtn:hover{
        background-color: rgb(128, 14, 14);
    }

    &--header{
        display: inline-flex;
        // margin: auto;
        margin-bottom: 20px;
        margin-left: 50px;
        p1 {
            font-size:30px;
            font-weight: $light;
            margin-top: 8px;
        }
        
    }

    &--status{
        display: inline-flex;
        align-items: center;
        // background-color: black;
        // color:white;
        p2 {
            margin-left: 10px;
            margin-top: 10px;
            background-color: black;
            color:white;
            padding: 5px 10px 5px 10px;
            border-radius: 10px;

        }

        .overdate{
            background-color:  rgb(145, 1, 1);
        }

        .complete{
            background-color: rgb(214, 145, 18);
        }
    }
    &--plan{
        width: 50%;

        .flexslider{
            width: 100%;
            // height: 400px;
            position: relative;
        }
        
        &_btn{
            font-size: 13px;
            // padding: 10px;
            color: $btn_darkColor;
            text-align: center;
            margin-left: 40%;

        }
        &_btn:hover{
            background-color: rgba(128, 128, 128, 0.11);
            border-radius: 50px;
            color: $btn_darkColor;
        }
        

    }
    &--info{
        width: 50%;
        margin-top: 20px;
        // margin-left: 30px;
        padding: 20px;
        // width: 80%;
        // max-width: 400px;
        background-color: rgba(245, 245, 245, 0.37);

        .line{
            width: 100%;
            margin-bottom:0;
            margin-top:0;
            
        }
        &_num{
            margin-bottom: 10px;
        }
        .floor_info{
            margin-top: 5px;
            font-weight: $light;
            font-size: 15px;
            word-wrap: break-word;
        }
    }

    &--stheme{
        margin: 10px;
        margin-bottom: 20px;
        padding: 20px;
        width: 100%;
        
        &_img{
            margin: 5px;
            width: 30%;
            height: 250px;
        }

        &_wrapper{
            align-items: center;
            justify-content: center;
            margin-top: 20px;
            text-align: center;
            display: flex;
            flex-wrap: wrap;
            padding: 10px;
            border-radius: 10px;
            background-color: rgba(211, 211, 211, 0.137);
        }

    }

    &--utheme{
        margin: 10px;
        margin-bottom: 20px;
        padding: 20px;
        &_img{
            margin: 5px;
            width: 30%;
            height: 250px;
        }

        &_wrapper{
            align-items: center;
            justify-content: center;
            margin-top: 20px;
            text-align: center;
            display: flex;
            flex-wrap: wrap;
            padding: 10px;
            border-radius: 10px;
            background-color: rgba(211, 211, 211, 0.137);
        }

    }
    label{
        font-size: 14px;
        font-weight: $bold;
       
    }

    &--chatroom{

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin: 10px 40px 0px 50px;
        width: 35%;
        height: 94%;
        max-height: 900px;
        box-shadow: 0 6px 8px rgba(0,0,0,0.30), 0 5px 6px rgba(0,0,0,0.22);
        position: absolute;
        right:0%;
        
        border-radius: 30px;
        background-color: rgba(247, 247, 243, 0.925);

        &_header{
            
            flex-shrink: 0;
            height: 10%;
            padding: 10px;
            font-size: 20px;
        }
        &_send{
            // position: absolute;
            // bottom: 0%;
            border-radius: 0px 0px 30px 30px;
            height: 15%;
            background-color: white;
            width: 100%;
            flex-shrink: 0;
            border: none;
            border-top: 10px solid rgba(236, 231, 205, 0.664);
            
            .input{
                width: 80%;
                // height: 50%;
                border: 0;
                margin-left: 10px;
                font-size: 15px;
                // box-shadow: 0 3px 4px rgba(0, 0, 0, 0.096), 0 2px 3px rgba(0, 0, 0, 0.075);
                // background-color: rgba(245, 245, 245, 0.295);
                
            }
            input[type=submit]{
                // width: 100px;
                margin-left: 10px;
                margin-bottom: 10px;
                padding:5px 25px; 
                background:#30343A;
                color: white; 
                font-size: 15px;
                font-weight: $light;
                box-shadow: 0 3px 4px rgba(0,0,0,0.30), 0 2px 3px rgba(0,0,0,0.22);
                border:0 none;
                cursor:pointer;
                -webkit-border-radius: 5px;
                border-radius: 5px;
                &:hover{
                    background:rgb(71, 77, 87);
                }
            }

        }
        &_msg{
            overflow-y: auto;
            flex-grow: 1;
            overflow-x: hidden;
            padding: 30px;
            .msg_me{
                margin: 10px 7px 10px 7px;
                border-radius: 10px;
                background-color: #f0cf85;
                padding: 5px 10px 5px 10px;
                color: white;
                margin-left: 42%;
                width: 60%;
                word-wrap: break-word;

            }
            .msg_client{
                margin: 10px 7px 10px 7px;
                border-radius: 10px;
                background-color: white;
                padding: 5px 10px 5px 10px;
                color: black;;
                width: 60%;
                word-wrap: break-word;
                
            }
        }
    }
}

// PROGRESS BAR //
.progress {
    width: 700px;
    margin: 20px auto;
    text-align: center;
}
.progress .circle,
.progress .bar {
    display: inline-block;
    background: #fff;
    width: 40px; height: 40px;
    border-radius: 40px;
    border: 1px solid #d5d5da;
}
.progress .bar {
    position: relative;
    width: 80px;
    height: 6px;
    top: -33px;
    margin-left: -5px;
    margin-right: -5px;
    border-left: none;
    border-right: none;
    border-radius: 0;
}
.progress .circle .label {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 32px;
    margin-top: 3px;
    color: #b5b5ba;
    font-size: 17px;
}
.progress .circle .title {
    color: #b5b5ba;
    font-size: 13px;
    line-height: 30px;
    margin-left: -5px;
}
    
/* Done / Active */
.progress .bar.done,
.progress .circle.done {
    background: #eee;
}
.progress .bar.active {
    background: linear-gradient(to right, #EEE 40%, #FFF 60%);
}
.progress .circle.done .label {
    color: #FFF;
    background: #726255;
    box-shadow: inset 0 0 2px rgba(0,0,0,.2);
}
.progress .circle.done .title {
    color: #444;
}
.progress .circle.active .label {
    color: #FFF;
    background: #f0c75e;
    box-shadow: inset 0 0 2px rgba(0,0,0,.2);
}
.progress .circle.active .title {
    color: #f0c75e;
}

//Edit Page

.edit{
    font-family: $_base-font-family;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 30px 50px;
    padding: 0 50px;

    &__title{

        display: flex;
        flex-direction: column;
        margin-top: 80px;
        padding: 10px 0;

        &-label{
            padding: 5px;
            border-radius: 10px;
            width: fit-content;
            margin-top: 10px;
            color: white;
            font-weight: $bold;
            margin-bottom: 20px;
            background-color:rgb(233, 189, 94);
        }
        &-num{
            font-size: 30px;
            font-weight: $light;
        }
    }
    &__mid{
        display: flex;
        flex-direction: row;
        height: 100%;
    }

    &__data{
        width: 100%;
        margin-top: 10px;

        form{

            display: flex;
            flex-direction: column;
            padding: 10px 0;

            label{
                color: #30343A;
                font-size: 15px;
                font-weight: $bold;
                margin: 7px 0;
            }

            .progress_btncontainer{

                display: flex;
                flex-direction: column;
                padding: 10px;
            }
            .progress_btn{
                
                width: 100%;
                height: 50px;
                font-size: 15px;
                border-radius: 10px;
                color: white;
                border: 0;
                background-color: $btn_darkColor;
                margin: 3px;
                box-shadow:inset 0px -2px 2px 1px rgba(85, 85, 85, 0.6),
                0px 3px 4px rgba(85, 85, 85, 0.6);
                &:hover {
                    background-color: rgb(226, 198, 122);
                }
            }
            .clicked{
                border: 0;
                color: white;
                background-color: rgb(226, 198, 122);
                width: 100%;
                height: 50px;
                font-size: 15px;
                border-radius: 10px;
                margin: 3px;
                box-shadow:inset 0px 0px 4px -1px rgb(88, 78, 48);
            }

            button:disabled,button[disabled]{
                opacity: 20%;
                cursor:not-allowed !important;
            }
            
            .due_atbox{
                width: 250px;
                height: 40px;
                font-size: 20px;
                margin-left: 20px;
                margin-bottom: 10px;
                border-right:0px;
                border-top:0px; 
                border-left:0px; 
                border-bottom:1px black solid;

            }
            .extrabox{
                width: 180%;
                height: 250px;
                font-size: 15px;
                margin: 10px 20px;
                margin-bottom: 10px;
                border:2px rgba(0, 0, 0, 0.185) solid;
                border-radius: 10px;
                padding: 10px;
                outline: none;

            }

            .submit{
                width: 180%;
                height: 50px;
                padding-top: 10px;
                padding-bottom: 10px;
                margin-top: 50px;
                margin-left: 20px;
                font-size: 15px;
                text-align: center;

                color: white;
                background-color: #30343A;
                border: 0;
                border-radius: 10px;
                outline: none;
                box-shadow:inset 0px -2px 2px 1px rgba(85, 85, 85, 0.6),
                0px 3px 4px rgba(85, 85, 85, 0.6);

                &:hover{
                    background-color: rgb(226, 198, 122);              
                }
            }
            
        }

    }

    

}
@mixin mixin-toggle{
    width: 50%;
    height: 800px;
    position: absolute;
    right:0;
    top:0%;
    background-color: white;
    padding: 0% 5% 0% 3%;
    .head{
        position: relative;
        // background-color: rgba(248, 205, 62, 0.11);
        padding: 20px;
        display: flex;
        p{
            font-size: 18px;
            font-weight: 300;
            p1{
                font-weight: 600;
                margin-left: 5px;
                font-size: 20px;
                color: rgba(204, 143, 12, 0.637);
            }
        }
        .navigate{
            position: absolute;
            right:0;
            margin-top: 2px;
            font-size: 18px;
            
            a{
                text-decoration: none;
                color: $btn_darkColor;
            }
        }
        
        margin-bottom: 22px;
    }
    .each-msg{
        margin-bottom: 5px;
        background-color: rgba(245, 245, 245, 0.363);
        position: relative;
        display:flex;
        padding: 12px;
        border-top: 1px solid rgba(206, 206, 206, 0.281);
        border-bottom: 1px solid rgba(206, 206, 206, 0.226);
        .date{
            position: absolute;
            right:2%;
            bottom: 0%;
            font-size: 12px;
            font-weight: 300;
            padding-top:20px;
        }
        .title{
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 10px;
            // color: rgb(65, 41, 10);
        }
        .content{
            font-size: 14px;
            font-weight: 300;
            opacity: 70%;
            padding-bottom: 10px;

        }
    }
}

.inbox{
    position: relative;
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 5% 50px;
    width: 100%;
    height: 80%;


    &--header{
        font-family: $_base-font-family;
        font-size: 40px;
        font-weight: $bold;
        letter-spacing: -1.5px;
        color: rgba(0, 0, 0, 0.767);
        background-color: white;
        margin-bottom: 30px;
    }
    &--body{
        display: flex;
        font-family: 'Source Sans Pro', sans-serif;
        
        &_table{
            

            // opacity: 60%;
            width: 50%;
            height: 150px;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-right: 20px;
            border:none;
            border-top: 1px solid rgba(206, 206, 206, 0.548);
            border-bottom: 1px solid rgba(206, 206, 206, 0.363);
            // margin-bottom: 2px;
            .x{
                display: none;
            }
            &:hover{
                background-color: rgba(129, 129, 129, 0.11);
                cursor: pointer;
            }
            a{
                overflow:hidden;
                display: flex;
                
                .profilepic{
                    padding-left: 10px;
                    padding-right: 10px;
                }
                
                    
                .contents{
                    // margin-top: 5px;
                    .username{
                        font-weight: 300;
                        color: rgb(97, 97, 97);
                    }
                    .msg{
                        .title{
                            margin-top: 5px;
                            font-weight: 600;
                            font-size: 19px;
                            margin-bottom: 10px;
                        }

                        .content{
                            color: rgba(128, 128, 128, 0.767);
                            font-weight: 300;
                            font-size: 15px;
                        }
                    }
                }
            }
            
            
        }
        &_table-active{
            position: relative;
            opacity: 100%;
            width: 50%;
            height: 150px;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-right: 20px;
            border:none;
            border-top: 1px solid rgba(206, 206, 206, 0.548);
            border-bottom: 1px solid rgba(206, 206, 206, 0.363);
            background-color: rgba(129, 129, 129, 0.11);
            
            a{

                overflow:hidden;
                display: flex;
                
                .profilepic{
                    padding-left: 10px;
                    padding-right: 10px;
                }
                .x{
                    display:block;
                    position: absolute;
                    top: 3%;
                    right:1%;
                    color: grey;
                }
                
                    
                .contents{
                    // margin-top: 5px;
                    .username{
                        font-weight: 300;
                        color: rgb(97, 97, 97);
                    }
                    .msg{
                        .title{
                            margin-top: 5px;
                            font-weight: 600;
                            font-size: 19px;
                            margin-bottom: 10px;
                        }

                        .content{
                            color: rgba(128, 128, 128, 0.767);
                            font-weight: 300;
                            font-size: 15px;
                        }
                    }
                }
            }
            
            
        }
        .inbox--body_detail{
            display: none;
            @include mixin-toggle;
            
        }
        .inbox--body_detail-active{
            display: block;
            @include mixin-toggle;
            
        }
    }

}