{% extends '../base.html' %}

{% block content %}
<div class="sidenav">
    <a href="" class="dashboard_here"> Dash Board </a>
    <a href="show/" class="request"> Request </a>
    <a href="#" class="messages"> Messages </a>
</div>
<div class="main">
    <div class="board">
    <canvas id="pie-chart"></canvas>
    
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script>

    var config = {
      type: 'doughnut',
      data: {
        datasets: [{
          data: {{ data|safe }},
          backgroundColor: [
            '#696969', '#808080', '#A9A9A9', '#C0C0C0', '#D3D3D3'
          ],
          label: 'Population'
        }],
        labels: {{ labels|safe }}
      },
      options: {
        responsive: false
      }
    };

    window.onload = function() {
      var ctx = document.getElementById('pie-chart').getContext('2d');
      window.myPie = new Chart(ctx, config);
    };

  </script>
    </div>
    <h1>
        Request On-Run
    </h1>
    <table class="data">
        <thead>
            <tr class="head">
                <th>ID#</th>
                <th>Application date</th>
                <th>Type, Size</th>
                <th>Due</th>
                <th>Status</th>
                <th>Detail</th>
            </tr>
        </thead>
        <tbody>
            {% for elem in requests.all %}
                <tr class="body1">
                    <td>{{elem.id}}</td>
                    <td>{{elem.requested_at}}</td>
                    <td>{{elem.floor_type}},{{elem.floor_size}}</td>
                    <td>20.02.02</td>
                    <td>{{elem.progress}}</td>
                    <td>button</td>
                </tr>
            {% endfor %}
            <tr class="body2">
                <td>2</td>
                <td>20.01.28</td>
                <td>1</td>
                <td>commercial, test data</td>
                <td>20.02.02</td>
                <td>button</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock content %}