{% extends '../base.html' %}

{% block content %}

<div class="dashboard">
    <div class="dashboard--title">Dashboard</div>
    <div class="dashboard--board">
        <div class ="dashboard--board_undone">
            <div class ="dashboard--board_undone-label">
                <i class="fas fa-edit"></i>Undone Requests
            </div>
            <hr style= "margin-top: 10px; width: 160px; border: 1px solid rgb(196, 187, 165); margin-left: 45px;"/>
            
            <div class ="dashboard--board_undone-num">
                {{requests.count}}
            </div>
            
            
        </div>
        <canvas id="doughnut-chart" style="width: 300px; height: 200px;"></canvas>
        <canvas id="line-chart" style="width: 55%; height: auto;overflow: hidden; "></canvas>
    
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
        <script>
            var config = {
            type: 'doughnut',
            data: {
                datasets: [{
                data: {{ data|safe }},
                backgroundColor: [
                    '#ecb939', '#f0c75e', '#726255', '#372e29', '#000000'
                ],
                label: 'Population'
                }],
                labels: {{ labels|safe }}
            },
            options: {
                responsive: false
            }
            };

            var linedata = {
                // The type of chart we want to create
                type: 'line',
                // The data for our dataset
                data: {
                    labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
                    datasets: [{
                        label: "req_num",
                        backgroundColor: '#D7B889',
                        fill:false, // line의 아래쪽을 색칠할 것인가? 
                        borderColor: '#D7B889',
                        lineTension:0.1, // 값을 높이면, line의 장력이 커짐.
                        data: {{line_data|safe}},
                    }]
                },
                // Configuration options go here
                options: {
                    responsive: false
                }
            }

            window.onload = function() {
            var ctx = document.getElementById('doughnut-chart').getContext('2d');
            var ctx2 = document.getElementById('line-chart').getContext('2d');
            window.myPie = new Chart(ctx, config);
            window.myLine = new Chart(ctx2, linedata);
            };

            $(document).ready(function() { 
                const active_menu = $('#dashboard')
                active_menu.removeClass('sidenav--menu_sub').addClass('sidenav--menu_sub-active'); 

            });

        </script>
    </div>
    <div class="dashboard--title">Request On-Run</div>
    <table class="dashboard--table">
        <thead>
            <tr class="dashboard--table_head">
                <th class='id'>
                    <button class="sorting">ID#</button>
                </th>
                <th>
                    <button class="sorting">Application Date</button>
                </th>
                <th>
                    <button class="sorting">Type, Size</button>
                </td>
                <th>
                    <button class="sorting">Due Date</button>
                </th>
                <th>
                    <button class="sorting">Time Remaining</button>
                </th>
                <th>
                    <button class="sorting">Work Status</button>
                </th>
                <th>
                    <button>Detail</button>
                </th>
            </tr>
        </thead>
        <tbody>
            {% now "Y/m/d" as todays_date %}
            {% for request in onrunRequests.all %}
              <tr>
                  <td>{{request.id}}</td>
                  <td>{{request.requested_at|date:'Y/m/d'}} {{request.requested_at|time:'H:i:s'}}</td>
                  <td>({{request.floor_type}}, {{request.floor_size}} {{request.floor_size_unit}} <sup>2</sup>)</td>
                  <td>{{request.due_at|date:'Y/m/d'}}</td>
                  {% if todays_date <= request.due_at|date:'Y/m/d'%}
                  <td>{{request.due_at|timeuntil}}</td>
                  {% else %}
                  <td class="overdate" style="color:red;">+{{request.due_at|timesince}} </td>
                  {% endif %}
                  <td>{{request.progress}}</td>
                  <td><a href="/{{request.id}}"><i class="fas fa-chevron-circle-right" style= "color: black"></i></a></td>
              </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    // 테이블 재 세팅
    var table_html;
    var k = 0;
    function re_table(line, cols, table_position) {
        table_html = "";
        for(var i = 0; i<line; i++) {
            table_html += "<tr>";
            for(var j = 0; j<cols; j++) {
                    if(new_array[i][j][0] == "+"){
                        table_html += "<td style='color:red;'>"+new_array[i][j]+"</td>";
                    }
                    else{
                        table_html += "<td>"+new_array[i][j]+"</td>";
                    }
            }
            table_html += "</tr>";
        }
        $(table_position.find("tbody")).html(table_html);
    }

    // 정렬
    $(document).ready(function() {
        var text_array;
        
        $("button.sorting").on("click", function() {
            var $this = $(this);
            var $this_table = $this.parents("table");
            var $this_start_number = $this.parent().index();
            
            var table_th_length = $this.parents("table").find("thead th").length; //테이블 칸의 갯수
            var table_tr_length = $this.parents("table").find("tbody tr").length; //테이블 내용 줄 갯수

            new_array = new Array();
            for(var i = 0; i<table_tr_length; i++) {
                new_array[i] = [];
                for(var j = 0 ; j < table_th_length; j++) {
                    text_array = $this_table.find("tbody tr").eq(i).find("td").eq(j).html(); // 값땡겨오는거
                    new_array[i][j] = text_array;
                }   
            }
            
            //테이블 클래스 active 지정
            $this_table.find("th button")
            /* 정렬 */
            new_array.sort(function (a, b) { 

                if(k % 2 == 0) {
                    console.log(k)
                    return a[$this_start_number] < b[$this_start_number] ? -1 : a[$this_start_number] > b[$this_start_number]? 1 : 0;  
                } else {
                  console.log("hahd")
                    return a[$this_start_number] > b[$this_start_number] ? -1 : a[$this_start_number] < b[$this_start_number]? 1 : 0;  
                }
                
            });
                k+=1;
            //값이 들어오는지 확인 소스
            //console.log(new_array);

            $this_table.find("tbody").empty();
            re_table(table_tr_length, table_th_length, $this_table);
        });
    })
</script>   

{% endblock content %}