{% extends '../base.html' %}

{% block content %}
<div class="sidenav">
    <a href="" class="dashboard_here"> Dash Board </a>
    <a href="show/" class="request"> Request </a>
    <a href="#" class="messages"> Messages </a>
</div>
<div class="main">
    <div class="board">
    <canvas id="doughnut-chart" style="width: auto; height: auto;"></canvas>
    <canvas id="line-chart" style="width: 150%; height: auto;            overflow: hidden;
"></canvas>
    
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script>
    var config = {
      type: 'doughnut',
      data: {
        datasets: [{
          data: {{ data|safe }},
          backgroundColor: [
            '#CC3D6C', '#FF776F', '#66FFCB', '#3DAECC', '#7A9299'
          ],
          label: 'Population'
        }],
        labels: {{ labels|safe }}
      },
      options: {
        responsive: false
      }
    };

    var linedata = {
        // The type of chart we want to create
        type: 'line',
        // The data for our dataset
        data: {
            labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
            datasets: [{
                label: "My First dataset",
                backgroundColor: 'rgb(255, 99, 132)',
                fill:false, // line의 아래쪽을 색칠할 것인가? 
                borderColor: 'rgb(255, 99, 132)',
                lineTension:0.1, // 값을 높이면, line의 장력이 커짐.
                data: [0, 10, 5, 2, 20, 30, 45, 50, 45, 40, 30, 20],
            }]
        },
        // Configuration options go here
        options: {
            responsive: false
        }
    }

    window.onload = function() {
      var ctx = document.getElementById('doughnut-chart').getContext('2d');
      var ctx2 = document.getElementById('line-chart').getContext('2d');
      window.myPie = new Chart(ctx, config);
      window.myLine = new Chart(ctx2, linedata);
    };

  </script>
    </div>
    <h1>
        Request On-Run
    </h1>
    <table class="data">
        <thead>
            <tr class="head">
                <th>ID#</th>
                <th>Application date</th>
                <th>Type, Size</th>
                <th>Due</th>
                <th>Status</th>
                <th>Detail</th>
            </tr>
        </thead>
        <tbody>
            {% for elem in requests.all %}
                <tr class="body1">
                    <td>{{elem.id}}</td>
                    <td>{{elem.requested_at}}</td>
                    <td>{{elem.floor_type}},{{elem.floor_size}}</td>
                    <td>20.02.02</td>
                    <td>{{elem.progress}}</td>
                    <td><button type="button" onclick="location.href='show/'">GO!</button></td>
                    <!-- 현재는 show로 연결해 둠 -->
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}