<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8'>
  </head>

  <body>
    <h1>All Requests</h1>
    <table>
        <thead>
            <tr>
                <td><B>Floor Type</B></td>
                <td><B>Commercial Type</B></td>
                <td><B>Floor Number</B></td>
                <td><B>Floor Size</B></td>
                
            </tr>
        </thead>
        <tbody>
            {% for request in requests %}
            <tr>
                <td>{{request.floor_type}}</td>
                <td>{{request.commercial_type}}</td>
                <td>{{request.floor_number}}</td>
                <td>{{request.floor_size}} {{request.floor_size_unit}} <sup>2</sup></td>
            </tr>

            {% endfor %}

        </tbody>
    </table>
    
  </body>

</html>