{% extends '../base.html' %}

{% block content %}
{% load static %}

<script>

    $(document).ready(function() { 
        const mid = $(".mid")
        mid.css("overflow","hidden")
        const active_menu = $('#messages')
        active_menu.removeClass('sidenav--menu_sub').addClass('sidenav--menu_sub-active'); 
    });

</script>
<div class="inbox">
    <div class="inbox--header">
            <i class="fas fa-inbox"></i> Inbox
    </div>

    {% for req in requests %}
        <script>
            $(document).ready(function() { 
                const ids = {{req.id}};
                $("#" + ids).click(function() {
                    // 
                    if ($("."+ ids).css("display") == "block"){

                        // $("#inbox--body_detail").not(document.getElementsByClassName(ids)).css("display","none");
                        $("."+ ids).css("display","none");
                        
                    }
                    else {
                        // $("#inbox--body_table").not(document.getElementsByClassName(ids)).css("display","none");
                        $("."+ ids).css("display","block");
                    }
                    console.log("hi") 
                })
            });
        </script>

        <div class= "inbox--body">

            {% if req.receivedmessage_set.all %}
                <div class="inbox--body_table">

                    <a id = "{{ req.id }}">

                        <div class="profilepic">
                            <img style="width:70px; height:70px" src="{% static 'profile_pic.png' %}"/>
                        </div>

                        <div class ="contents">
                            <div class="username">
                                {{req.username}}
                            </div>
                            <div class="msg">
                                {% with req.receivedmessage_set.all.last as msg %}
                                    <div class="title">{{msg.title}}</div>
                                    <div class="content">{{msg.content|truncatechars:110}}</div>
                                {% endwith %}
                            </div>
                        </div>
                    </a>
                </div>
                
                <div style= "display: none" id= "inbox--body_detail" class= "{{ req.id }}" >
                    
                    <div class="head">
                        <p>All Previous Messages from <p1>{{req.username}}</p1></p>
                        <div class="navigate">
                            <a href="http://localhost:8000/{{req.id}}/">Go <i class="fas fa-chevron-circle-right"></i></a>
                        </div>
                    </div>
                    
                    {% for msg in req.receivedmessage_set.all %}
                    <div class = "each-msg">
                        <div style="margin-right: 10px;">{{msg.id}}.</div>
                        <div>
                            <div class = "title"> {{msg.title}}</div>
                            <div class = "content">{{msg.content}}</div>
                            <div class = "date">{{msg.timestamp}}</div>
                        </div>
                        
                        
                    </div>
                    
                    {% endfor %}
                    
                </div>
            {% endif %}
        </div>

    {% endfor %}

    

</div>



{% endblock content %}