{% extends '../base.html' %}

{% block content %}
{% load static %}

<script type="text/javascript">

    $(document).ready(function() { 

        /* progress bar */
        //var status = $('#status').text();
        var status = {{ arequest.progress }}
        console.log(status)
        var active_circle= $('.label:contains(' + status + ')').parent()
        active_circle.removeClass('circle').addClass('circle active'); 

        var label = $('.label')
        var circles = label.parent()
        console.log(circles)

        circles.each(function(){

            if ($(this).find(".label").text() < status){
                //console.log($(this).find("span").text())
                $(this).removeClass('circle').addClass('circle done'); 
            }
        })

        /* status color */
        //'#ecb939', '#f0c75e', '#726255', '#372e29', '#000000'

        if(status === 1){
            $(".status").css({
                "background-color": "#ecb939"
            })
        }
        else if(status === 2){
            $(".status").css({
                "background-color": "#f0c75e"
            })
        }
        else if(status === 3){
            $(".status").css({
                "background-color": "#726255"
            })
        }
        else if(status === 4){
            $(".status").css({
                "background-color": "#372e29"
            })
        }
        else if(status === 5){
            $(".status").css({
                "background-color": "#000000"
            })
        }
        
    });
    $(document).ready(function() { 
        
        const active_menu = $('#requests')
        active_menu.removeClass('sidenav--menu_sub').addClass('sidenav--menu_sub-active'); 

    });

</script>

<div class="eachRequest">

    <div>
        <a class="eachRequest--editbtn" href='/adminpage/{{arequest.id}}/edit'>
          Edit Request
        </a>
    </div>

    
    <div class="eachRequest--header">
        <h1>Request # {{arequest.id}}</h1>
        <div class="eachRequest--status">
            <h1 class="slash"> &nbsp; / &nbsp;</h1>
            <h2 class="status">Status: {{arequest.progress}}</h2>
        </div>
    </div>


    <div class="progress">

            <div class="circle">
                <span class="label">1</span>
                <span class="title">0%</span>
            </div>

            <span class="bar"></span>
            <div class="circle">
                <span class="label">2</span>
                <span class="title">25%</span>
            </div>

            <span class="bar"></span>
            <div class="circle">
                <span class="label">3</span>
                <span class="title">50%</span>
            </div>

            <span class="bar"></span>
            <div class="circle">
                <span class="label">4</span>
                <span class="title">75%</span>
            </div>

            <span class="bar"></span>
            <div class="circle">
                <span class="label">5</span>
                <span class="title">100%</span>
            </div>
    </div>

    

    <div class="eachRequest--plan">
        <label><img src="{% static 'correct.png' %}"/>  Uploaded Plan Image</label>
        <div class="eachRequest--plan_wrapper" >
            {% for plan in arequest.floor_plan.all %}
                <div class="eachRequest--plan_wrapper-small"> 
                    <img class="eachRequest--plan_img" src="{{ plan.photo.url }}">
                    <a class="eachRequest--plan_btn" style = "text-decoration: none;" href= "/{{arequest.id}}/{{plan.id}}/download" >
                        Download Plan <i class="fas fa-paperclip"></i>
                    </a>
                </div>
                
            {% endfor %}
        </div>
        
    </div>

    <div class="eachRequest--info">

        <div class="eachRequest--info_type">
            <label><img src="{% static 'correct.png' %}"/> Floor Type :</label>
            
            {% if arequest.floor_type == "Residential" %}
                {{arequest.floor_type}}
            {% else %}
                {{arequest.floor_type}} ( {{arequest.commercial_type}} )
            {% endif %}
            
        </div>

        <div class="eachRequest--info_size">
            <label><img src="{% static 'correct.png' %}"/> Floor Size:</label>
            {{arequest.floor_size}} {{arequest.floor_size_unit}} <sup>2</sup>
        </div>

        <div class="eachRequest--info_num">
            <label><img src="{% static 'correct.png' %}"/> Floor Number:</label>
            {{arequest.floor_number}} 
        </div>

        <!-- Optional Tags -->

        {% if arequest.floor_address != "" %}
            <div class="eachRequest--info_num">
                <label><img src="{% static 'correct.png' %}"/> Floor Address:</label>
                {{arequest.floor_address}} 
            </div>
        {% endif %}

        <!-- Optional Tags -->

        {% if arequest.floor_height != "" %}
            <div class="eachRequest--info_num">
                <label><img src="{% static 'correct.png' %}"/> Floor Height:</label>
                {{arequest.floor_height}} {{arequest.floor_height_unit}} 
            </div>
        {% endif %}

        {% if arequest.add_request != "" %}
            <div class="eachRequest--info_num">
                <label><img src="{% static 'correct.png' %}"/> Additional Requests:</label>
                {{arequest.add_request}}
            </div>
        {% endif %}
    </div>


    <!-- selected theme -->
    {% if arequest.selected_theme.all  %}
    <div class="eachRequest--stheme">
            <label><img src="{% static 'correct.png' %}"/> Selected Theme Preferences</label>
            <div class="eachRequest--stheme_wrapper" >
                {% for theme in arequest.selected_theme.all %}
                    <img class="eachRequest--stheme_img" src="{{ theme.option }}">
                {% endfor %}
            </div>
    </div>
    {% endif %}

    <!-- uploaded theme -->
    {% if arequest.uploaded_theme.all  %}
    <div class="eachRequest--utheme">
        <label><img src="{% static 'correct.png' %}"/> Uploaded Theme Preferences</label>
        <div class="eachRequest--utheme_wrapper" >
            {% for theme in arequest.uploaded_theme.all %}
                <div class="eachRequest--utheme_wrapper-small"> 
                    <img class="eachRequest--utheme_img"src="{{ theme.photo.url }}">
                </div> 
            {% endfor %}
        </div>
    </div>
    {% endif %}

</div>
{% endblock content %}