{% extends '../base.html' %}

{% block content %}

<div class="sidenav">
        <a href="/" class="dashboard" onclick="color()"> Dash Board </a>
        <a href="/show" class="request_here"> Request </a>
        <a href="#" class="messages"> Messages </a>

</div>

<div class="requests">
    <div class= "requests-title">
        <h1>Request Page</h1> 
    </div>

    <div class="requests-on-run">
        <h3>On-Run Requests</h3>
        <table>
            <thead>
                <tr class="head">
                        <th>
                            <button class="sorting">ID#</button>
                        </th>
                        <th>
                            <button class="sorting">Application Date</button>
                        </th>
                        <th>
                            <button class="sorting">Type, Size</button>
                        </td>
                        <th>
                            <button class="sorting">Due Date</button>
                        </th>
                        <th>
                            <button class="sorting">Time Remaining</button>
                        </th>
                        <th>
                            <button class="sorting">Work Status</button>
                        </th>
                        <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                {% for request in onrunRequests %}
                <tr>
                    <td>{{request.id}}</td>
                    <td>{{request.requested_at|date:'Y/m/d'}} {{request.requested_at|time:'H:i:s'}}</td>
                    <td>({{request.floor_type}}, {{request.floor_size}} {{request.floor_size_unit}} <sup>2</sup>)</td>
                    <td>{{request.due_at|date:'Y/m/d'}}</td>
                    <td>{{request.due_at|timeuntil}}</td>
                    <td>{{request.progress}}</td>
                    <td><a href="/{{request.id}}"><i class="fas fa-chevron-circle-right" style= "color: black"></i></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <div class="requests-total">
        <h3>Total Requests</h3>
            <table>
                <thead>
                    <tr class="head">
                        <th>
                            <button class="sorting">ID#</button>
                        </th>
                        <th>
                            <button class="sorting">Application Date</button>
                        </th>
                        <th>
                            <button class="sorting">Type, Size</button>
                        </td>
                        <th>
                            <button class="sorting">Due Date</button>
                        </th>
                        <th>
                            <button class="sorting">Time Remaining</button>
                        </th>
                        <th>
                            <button class="sorting">Work Status</button>
                        </th>
                        <th>Edit</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for request in totalRequests %}
                    <tr>
                        <td>{{request.id}}</td>
                        <td>{{request.requested_at|date:'Y/m/d'}} {{request.requested_at|time:'H:i:s'}}</td>
                        <td>({{request.floor_type}}, {{request.floor_size}} {{request.floor_size_unit}} <sup>2</sup>)</td>
                        <td>{{request.due_at|date:'Y/m/d'}}</td>
                        <td>{{request.due_at|timeuntil}}</td>
                        <td>{{request.progress}}</td>
                        <td><a href="/{{request.id}}"><i class="fas fa-chevron-circle-right" style= "color: black"></i></a></td>
                    </tr>
        
                    {% endfor %}
        
                </tbody>
            </table>
    </div>
</div>

<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    // 테이블 재 세팅
    var table_html;
    var k = 0;
    function re_table(line, cols, table_position) {
        table_html = "";
        for(var i = 0; i<line; i++) {
            table_html += "<tr>";
            for(var j = 0; j<cols; j++) {
                table_html += "<td>"+new_array[i][j]+"</td>";
            }
            table_html += "</tr>";
        }
        $(table_position.find("tbody")).html(table_html);
    }

    // 정렬
    $(document).ready(function() {
        var text_array;
        
        $("button.sorting").on("click", function() {
            var $this = $(this);
            var $this_table = $this.parents("table");
            var $this_start_number = $this.parent().index();
            
            var table_th_length = $this.parents("table").find("thead th").length; //테이블 칸의 갯수
            var table_tr_length = $this.parents("table").find("tbody tr").length; //테이블 내용 줄 갯수

            new_array = new Array();
            for(var i = 0; i<table_tr_length; i++) {
                new_array[i] = [];
                for(var j = 0 ; j < table_th_length; j++) {
                    text_array = $this_table.find("tbody tr").eq(i).find("td").eq(j).html(); // 값땡겨오는거
                    new_array[i][j] = text_array;
                }   
            }
            
            //테이블 클래스 active 지정
            $this_table.find("th button")
            /* 정렬 */
            new_array.sort(function (a, b) { 

                if(k % 2 == 0) {
                    console.log(k)
                    return a[$this_start_number] < b[$this_start_number] ? -1 : a[$this_start_number] > b[$this_start_number]? 1 : 0;  
                } else {
                  console.log("hahd")
                    return a[$this_start_number] > b[$this_start_number] ? -1 : a[$this_start_number] < b[$this_start_number]? 1 : 0;  
                }
                
            });
                k+=1;
            //값이 들어오는지 확인 소스
            console.log(new_array);

            $this_table.find("tbody").empty();
            re_table(table_tr_length, table_th_length, $this_table);
        });
    })
</script>   

{% endblock content %}