@import '../../styles/_colors.scss';
@import '../../styles/_typography.scss';

@mixin mixin-button{
    background-color:$btn_darkColor;
    letter-spacing: -0.9px;
    font-weight: $bold;
    color: rgb(241, 240, 240);
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.397);
    border: 0px;
}
@mixin mixin-button-hover{
    background-color: $btn_darkColor_hover;
    color: white;
    cursor: pointer;
}

@mixin mixin-heading{
    font-weight: $light;
    font-size: 20px;
}
@mixin mixin-animations{
    animation-name: fadeIn;
    animation-duration: 0.3s;
    @keyframes fadeIn {
        0% {
        opacity: 0;
        }
        100% {
        opacity: 1;
        }
    }
}
.tutorial{
    
    width: 100%;
    
    &__container{

        float: right;
        margin-top: 100px;
        margin-right: 140px;
        
        &-header{
            font-size: 30px;
            font-weight: $light;
            letter-spacing: -1px;
            line-height: 8px;
        }
        &-content{
            animation-duration: 2s;
            animation-name: slidein;
            font-size: 18px;
            font-weight: $thin;
            line-height: 40px;
        }
        @keyframes slidein {
            from {
                margin-left: 5%;
                width: 300%
            }
          
            to {
                margin-left: 0%;
                width: 100%;
              
            }
        }

    }
    &__slides{

        &-img{
            width: 450px;
            // height: 230px;
        }
        &-imgbox{
            position: absolute;
            top: 18%;
            left: 10%;
        }
    }
    &__btn{
        position: absolute;
        top: 45%;
        right: 5%;
    }

    &__skipbtn{

        width: 170px;
        height: 50px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        border-radius: 30px;
        font-family: $_base-font-family;
        font-weight: $bold;
        position: absolute;
        bottom: 5%;
        right: 2%;
        border: 0;
        font-size: 15px;
        color:$btn_whiteColor;
        background-color: $mainColor_dark;
        cursor: pointer;
        &:hover{
            box-shadow: 0px 15px 20px #5894a380;
            color: #fff;
            
            transform: translateY(-7px);
        }
    }
}

.application{
    

    &__bigback{
        position: absolute;
        top: 0;
        left: 0;
        width: 24%;
        height: 100%;
        z-index: -2;
    }
    &__miniback{
        position: absolute;
        top: 40%;
        left: 6%;
        width: 13%;
        z-index: -1;
        opacity: 90%;
    }

    &__title{
       font-weight: $light;
       font-size: 30px;
       position: absolute;
       top: 25%;
       left: 6%;
       color: white;
    }
    &__progressbar{
        position: absolute;
        margin-top: 15px;
        left: 45%;
        // margin-bottom: 30px;
        &-image{
            width: 350px;
        }
    }
    &__body{
        position: absolute;
        top: 21%;
        // margin-top: 20px;
        left: 30%;
    }

    &__control{
        position: absolute;
        bottom: 6%;
        // margin-top: 20px;
        left: 26%;
        display: flex;
        width: 100%;
        &-back{
            display: flex;
            margin-right: 530px;
            &--btn{
                font-size: 15px;
                font-weight: $regular;
                border: 0px;
                width: 140px;
                height: 40px;
                cursor: pointer;
                &:hover{
                    font-weight: $black;
                    color: $mainColor_dark;
                }
                
                
            }
        }
        &-next{
            display: flex;
            &--btn{
                font-size: 15px;
                font-weight: $regular;
                border: 0px;
                width: 150px;
                cursor: pointer;
                &:hover{
                    font-weight: $black;
                    color: $mainColor_dark;
                }
            }
        }
    }
}


.floortype{
    
    &__heading{
        @include mixin-heading;
    }
    &__btncontainer{
        @include mixin-animations;
        margin-top: 40px;
        display: flex;
    }
    &__btn{
        @include mixin-button;
        margin-top: 30px;
        margin-left: 20px;
        width: 330px;
        height: 80px;
        font-size: 20px;
        white-space: pre-wrap;

        &:hover{
            @include mixin-button-hover;
            font-weight: $regular;
            font-size: 15px;
        }

    }
    
}
.commercialtype{
    &__heading{
        @include mixin-heading;
    }
    &__formcontainer{
        @include mixin-animations;
        margin-top: 20px;
        margin-left: 200px;

        &-btn{

            @include mixin-button;
            width: 260px;
            height: 40px;
            margin-bottom: 5px;
            border-radius: 10px;
            font-size: 18px;
            &:hover{
                @include mixin-button-hover;
            }
    
        }
        
    }
    &__input{
        // background-color:$btn_darkColor;
        width: 261px;
        padding: 3px;
        height: 40px;
        font-weight: $bold;
        margin-top: 5px;
        margin-left: 190px;
        &:active{
            cursor: pointer;
        }
    }
    
    
}
.floorplan{
    &__heading{
        @include mixin-heading;
    }
    &__formcontainer{
        @include mixin-animations;
        margin-top: 20px;
        display: flex;
        &-file{
            margin-left: 10px;
            
        }
        &-file > label{
            font-size: 16px;
            color: rgb(16, 73, 100);
            letter-spacing: -1px;
            font-weight: $medium;
        }
        &-inputwrap{
            margin-left: 70px;
            margin-top: 30px;
        }
        &-input{
            margin-bottom: 25px;
            
        
        }

        &-input > div > input[type=text]{
            // margin-top: 10px;
            border-bottom: 1px dotted $mainColor_dark;
            border-top: 0;
            border-left: 0;
            border-right: 0;
           
        }
        &-input > div > input[type=number]{
            border-bottom: 1px dotted $mainColor_dark;
            border-radius: 10px;
            border-top: 0;
            border-left: 0;
            border-right: 0;
            margin-right: 10px
            
        }
        
        

        &-input > label{
            font-size: 16px;
            color: $label_dark;
            letter-spacing: -1px;
            font-weight: $medium;
        }
    }
}

.floortheme{
    &__heading{
        @include mixin-heading;
    }
    &__body{
        @include mixin-animations;
        margin-top: 20px;
        
        
        &-imageuploader{
            display: flex;
            margin-top: 10px;
            margin-left: 20%;
            
            &-heading{
                
                font-size: 13px;
                margin-right: 30px;
                letter-spacing: -0.8px;
            }
            &-wrap{
                display: flex;
                &--input{
                     padding: 5px;
                     
                }
            }

        }
        
    }
    
    
}

.addrequest{
    &__heading{
        @include mixin-heading;
    }
    &__message{
        margin-top: 10px;
        font-weight: $black;
        font-size: 30px;
        color: rgb(58, 67, 110);
    }
    &__formcontainer{
        @include mixin-animations;
        margin-top: 20px;

        &-input{
            
            width: 700px;
            height: 120px;
            font-size: 15px;
            background-color: rgba(58, 67, 110, 0.123);
            border: 1px solid rgba(128, 128, 128, 0.11);
            box-shadow: 0px 4px 7px rgba(27, 39, 66, 0.692);
            padding-top: 30px;
            padding-left: 20px;
        }
        
    }
}

@mixin mixin-label {
    font-size: 16px;
    color: $label_dark;
    letter-spacing: -1px;
    font-weight: $bold;
}




.sum-application{
    


    &__title{
        margin-top: 48px;
        text-align: center;
        font-size: 30px;
        font-weight: $bold;
        color: $mainColor_dark;

    }
    &__subtitle{
        margin-top: 2px;
        text-align: center;
        font-size: 15px;
        font-weight: $light;
        color: $font400;
    }
    &__body{
        
        background-color: white;
        padding: 10px;
        margin-top: 20px;
        width: 70%;
        left: 15%;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.692);
        position: relative;
    }
    &__control{
        &-back{
            display: flex;
            margin-right: 530px;
            &--btn{
                margin-top: 20px;
                margin-bottom: 20px;
                background-color: rgb(250, 245, 245);
                font-size: 15px;
                font-weight: $bold;
                border: 0px;
                width: 200px;
                height: 40px;
                cursor: pointer;
                &:hover{
                    font-weight: $bold;
                    color: $mainColor_dark;
                }
                
                
            }
        }
    }
}

@mixin mixin-sumlabel {
    font-size: 18px;
    color: rgb(70, 70, 70);
    letter-spacing: -1px;
    font-weight: $regular;
}
@mixin mixin-sumval {
    font-weight: $light;
    display: inline-block;
    font-size: 14px;
    color: rgb(59, 59, 59);
}

.summary{
    // @include mixin-animations;
    animation-name: fadeIn;
    animation-duration: 1s;
    @keyframes fadeIn {
        0% {
        opacity: 0;
        }
        100% {
        opacity: 1;
        }
    }
    margin-top: 10px;
    padding: 15px;
    
    &__type{
        margin-bottom: 10px;
        // text-align: center;
        &-label{
            @include mixin-sumlabel;
        }
        &-value{
            @include mixin-sumval;
        }
    }

    &__division{
        background-color: rgba(128, 128, 128, 0.151);
        height: 1px;
        border:0;
    }
    &__plan{
        margin-bottom: 10px;
        display: flex;
        margin-top: 20px;
        margin-left: 10px;

        
        &-imgdiv{
            
            &-image{
                width: 300px;
                height: 200px;
            }
        }
        
        &-info{
            padding: 10px;
            // float: left;
            margin-top: 10px;
            
            &-contents{
                margin-left: 10px;
                // float: left;
                &--label{
                    @include mixin-sumlabel;
                }
                &--value{
                    @include mixin-sumval;
                    word-wrap: break-word;
                    
                }
            }
        }
    }
    &__theme{
        margin-bottom: 10px;
        margin-top: 20px;
        display: flex;
        &-label{
            @include mixin-sumlabel;
            margin-right: 15px;
        }
        &-images{
            // float: left;
            // display: inline;
            margin-top: 5px;
            width: 120px;
            height: 120px;
            margin-right: 5px;
        }
    }
    &__add{
        margin-bottom: 20px;
        margin-top: 20px;
        &-label{
            @include mixin-sumlabel;
        }
        &-value{
            @include mixin-sumval;  
        }
    }
    &__contact{
        margin-top: 20px;
        &-label{
            @include mixin-sumlabel;
        }
        &-value{
            @include mixin-sumval;  
        }
    }
    &__cost{
        margin-top: 50px;
        background-color: rgba(212, 212, 212, 0.5);
        height: 60px;
        border-radius: 10px;
        // margin-bottom: 20px;
        margin-right: 10px;
        margin-left: 10px;
        &-label{
            font-weight: $black;
            color: rgba(0, 0, 0, 0.527);
            float: left;
            font-size: 20px;
            margin-top: 15px;
            margin-left: 20px;
        }
        &-value{ 
            float: right; 
            color: rgba(0, 0, 0, 0.699);
            font-weight: $bold;
            margin-top: 18px;
            font-size: 16px;
            margin-right: 20px;
        }
    }

    &__confirm{

        &--btn{
            @include mixin-button;
            width: 90%;
            height: 50px;
            margin-left: 5%;
            font-size: 18px; 
            margin-bottom: 20px;
            border-radius: 10px;
        }
        &--btn:hover{
            @include mixin-button-hover;
            width: 90%;
            height: 50px;
            margin-left: 5%; 
            margin-bottom: 20px;
            border-radius: 10px;
        }
        
    }
    
}