@import '../00-config/_config__color';

$colors : (
    mainColor: $mainColor,
    mainColor_light: $mainColor_light,
    mainColor_dark: $mainColor_dark
);

$subColors : (
    primary: $primary_subColor,
    primary_light: $primary_subColor_light,
    primary_dark: $primary_subColor_dark,

    secondary: $secondary_subColor,
    secondary_light: $secondary_subColor_light,
    secondary_dark: $secondary_subColor_dark
);

$status : (
    agree: $agree,
    warning: $warning,
    caution: $caution
);

$btnColors : (
    whiteColor :$btn_whiteColor,
    whiteColor_hover :$btn_whiteColor_hover,
    whiteColor_active :$btn_whiteColor_active,

    darkColor : $btn_darkColor,
    darkColor_hover : $btn_darkColor_hover,
    darkColor_active : $btn_darkColor_active
);

$bgColors : (
    primary: $bg_primary,
    secondary:$bg_secondary,
    thirdary: $bg_thirdary,
    primary_op: rgba($bg_primary, .7)
);

$fontColors : (
    100: $font100,
    200: $font200,
    300: $font300,
    400: $font400,
    500: $font500
);


@function color($color-name){
    @return map-get($colors , $color-name)
};

@function subColor($subColor-name){
    @return map-get($subColors , $subColor-name)
};

@function btnColor($btnColor-name){
    @return map-get($btnColors , $btnColor-name)
};

@function bgColor($bgColor-name){
    @return map-get($bgColors , $bgColor-name)
};

@function status($color-name){
    @return map-get($status , $color-name)
};

@function fontColor($color-name){
    @return map-get($fontColors , $color-name)
};