
<!DOCTYPE html>
{% load static %}
{% load sass_tags %}
<html>
    <head>
        <title>ondemand service</title>
        <link href="{% sass_src '../static/style/ondemand.scss' %}" rel="stylesheet" type="text/css" />
        <!-- Icon Link -->
        <script src="https://kit.fontawesome.com/55af2b838e.js"></script>

        <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous">
        </script>

    </head>
    <body>
        <!-- <div class="header">
            <header>
                <div class="logo" style="display: flex; flex-direction: column; width: 300px;">
                    <a href="/"><img src="{% static 'Archisketch_Logo.png' %}"/> </a>
                    <h2> On-Demand 관리자 페이지</h2>
                </div>
                
                <nav>
                <ul>
					<li><a href=""><i class="fas fa-bell fa-sm" style= "color: #ffffff; font-size: 30px;"></i></a></li>
					<li><a href=""><i class="fas fa-envelope" style= "color: #ffffff; font-size: 30px;"></i></a></li>
				</ul>
                </nav>
            </header>
        </div> -->
        <div class = "header">

        </div>
        <div class="mid">

            <div class="sidenav">

                <a href="/" style= "text-align: center">
                    <img class = "sidenav--logo" src="{% static 'Archisketch_Logo.png' %}"/>
                </a>
                <!-- <div class = "sidenav--title">On-Demand Adminpage</div> -->
                
                <div class="sidenav--menu">
                    <a href="" class="sidenav--menu_sub"> <i class="fas fa-chart-line" style = "color: #D7B889; padding: 6px;"></i> Dash Board </a>
                    <a href="show/" class="sidenav--menu_sub"> <i class="fas fa-clipboard-check" style = "color: #D7B889; padding: 6px; margin-right: 6px;"></i>  Request </a>
                    <a href="#" class="sidenav--menu_sub"> <i class="fas fa-inbox" style = "color: #D7B889; padding: 6px;""></i> Messages </a>
                    <a href="#" class="sidenav--menu_sub"> <i class="fas fa-cog" style = "color: #D7B889; padding: 6px;"></i> Settings </a>
                </div>
                

            </div>

            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>