
<!DOCTYPE html>
{% load static %}
{% load sass_tags %}
<html>
    <head>
        <title>ondemand service</title>
        <link href="{% sass_src '../static/style/ondemand.scss' %}" rel="stylesheet" type="text/css" />
        <!-- Icon Link -->
        <script src="https://kit.fontawesome.com/55af2b838e.js"></script>

        <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous">
        </script>

    </head>
    <body>
        <div class="header">
            <nav>
                <ul class="header--nav">
                    <li class="header--nav_menu"><a href=""><i class="fas fa-bell" style= "color: rgb(213, 218, 226); font-size: 25px;"></i></a></li>
                    <li class="header--nav_menu"><a href=""><i class="fas fa-envelope" style= "color: rgb(213, 218, 226); font-size: 25px;"></i></a></li>
                    <li class="header--nav_menu"><i class="fas fa-user-circle" style= "color: rgb(213, 218, 226); font-size: 25px;"></i></li>
                </ul>
            </nav>
        </div>
        <div class="mid">

            <div class="sidenav">

                <a href="/" style= "text-align: center">
                    <img class = "sidenav--logo" src="{% static 'Archisketch_Logo.png' %}"/>
                </a>
                
                <div class="sidenav--menu">
                    <a href="" class="sidenav--menu_sub"> <i class="fas fa-chart-line" style = "color: #D7B889; padding: 6px; margin-right: 30px;"></i> Dash Board </a>
                    <a href="show/" class="sidenav--menu_sub"> <i class="fas fa-clipboard-check" style = "color: #D7B889; padding: 6px; margin-right: 36px;"></i>  Request </a>
                    <a href="#" class="sidenav--menu_sub"> <i class="fas fa-inbox" style = "color: #D7B889; padding: 6px; margin-right: 30px;"></i> Messages </a>
                    <a href="#" class="sidenav--menu_sub"> <i class="fas fa-cog" style = "color: #D7B889; padding: 6px; margin-right: 30px;"></i> Settings </a>
                </div>
                

            </div>

            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>