@import "./01-base/color";

.Body {
    background-color: $bg_secondary;
    //text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 120px;
    .topcontent {
        overflow: hidden;
        height: 512px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        .description {
            padding: 5px;
            border: 2px solid black;
        }
        .gif{
            margin-left: 5%;
        }
        .button{
            text-align: center;
        }
    }
    
    .bottomcontent{
        text-align: center;
    }
}

