@import "./01-base/color";

.worksTransition-appear{
    opacity: 0.1;
    transform: translateX(400px);
  }
  
  .worksTransition-appear.worksTransition-appear-active{
    opacity: 1;
    transform: translateX(0px);
    transition: all .3s ease-in-out;
  }


.step {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: $mainColor_dark;
    //text-transform: default;
    &__outer-box{
        display: flex;
        flex-direction: column;
        flex: 1;
        //padding-top: 4%;
        background-color: $mainColor_dark;
        position: relative;
        width: 100%;
        height: 100vh;
        text-align: center;
        justify-content: center;
        //height: 90vh;
    }
    &__outer-box--1 {
        display: flex;
        flex-direction: column;
        flex: 1;
        //padding-top: 4%;
        background-color: #A5B584;
        position: relative;
        width: 100%;
        height: 100vh;
        text-align: center;
        justify-content: center;
        //height: 90vh;
    }
    &__outer-box--2 {
        display: flex;
        flex-direction: column;
        flex: 1;
        //padding-top: 4%;
        background-color: #9ABAFA;
        position: relative;
        width: 100%;
        height: 100vh;
        text-align: center;
        justify-content: center;
        //height: 90vh;
    }
    &__inner-box{        
        margin: 0;

        display: flex;
        flex-direction: column;
        flex:1;
        margin: 10%;
        margin-top: 0;
        margin-bottom: 0;
        width: 80%;
        //height: 100vh;
        height: 80vh;
        background-color: none;
        //border: 2px solid black;
        color: black;
        //overflow: hidden;

    }

    &__progressbar{
        color: white;
        text-align: center;
    }
    &__contents{
        display: flex;
        flex: 1;
        flex-direction: row;
        color: white;
        border-top : 2px solid white;
        border-bottom : 2px solid white;
        //padding-bottom: 10%;
        margin-left: 10%;
        margin-right: 10%;
        //margin-bottom: 5%;
        height: 500px;
        //margin: auto 0;

        .choicebox{
            
            display: flex;
            flex-direction: column;
            align-items: center;
            //justify-content: center;
            //padding-bottom: 10%;
            margin: 0 auto;
            text-align: center;
            .choice{
                z-index: 1;
                font-size: 150%;
                text-align: center;
                width: 100%;
                border: none;
                //justify-content: center;
                padding: 0, 24px;
                //margin-bottom: 10%;
                counter-increment: bc;
            }
            .choice:before{
                position: absolute;
                //padding: 20px;
            }
            .button_base {
                background-color:rgba($color: #000000, $alpha: 0.0);
                margin: 0;
                border: 0;
                font-size: 18px;
                position: relative;
                top: 40%;
                left: 0%;
                margin-top: -35px;
                margin-left: -20px;
                padding-top: 10%;
                width: 100%;
                height: 120px;
                text-align: center;
                box-sizing: border-box;
                outline: none;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-user-select: none;
                cursor: default;
            }

            .button_base:hover {
                cursor: pointer;
            }

            
            .b08_3d_pushback {
                display: flex;
                perspective: 500px;
                -webkit-perspective: 500px;
                -moz-perspective: 500px;
                transform-style: preserve-3d;
                -webkit-transform-style: preserve-3d;
            }
            
            .b08_3d_pushback div {
                position: absolute;
                text-align: center;
                top: 10%;
                width: 100%;
                height: 80px;
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                pointer-events: none;
                padding: 10px;

                border: #000000 solid 1px;
            }
            
            .b08_3d_pushback div:nth-child(1) {
                color: #000000;
                padding-top: 5%;
                background-color: #ffffff;
                transform: rotateX(0deg) translateZ(0px);
                -webkit-transform: rotateX(0deg) translateZ(0px);
                -moz-transform: rotateX(0deg) translateZ(0px);
                transform-origin: 50% 50%;
                -webkit-transform-origin: 50% 50%;
                -moz-transform-origin: 50% 50%;
                transition: all 0.2s ease;
                -webkit-transition: all 0.2s ease;
                -moz-transition: all 0.2s ease;
            }
            
            .b08_3d_pushback div:nth-child(2) {
                padding-top: 3%;
                color: #ffffff;
                background-color: #000000;
                transform: rotateX(-179.5deg) translateZ(1px);
                -webkit-transform: rotateX(-179.5deg) translateZ(1px);
                -moz-transform: rotateX(-179.5deg) translateZ(1px);
                transform-origin: 50% 50%;
                -webkit-transform-origin: 50% 50%;
                -moz-transform-origin: 50% 50%;
                transition: all 0.2s ease;
                -webkit-transition: all 0.2s ease;
                -moz-transition: all 0.2s ease;
            }
            
            .b08_3d_pushback:hover div:nth-child(1) {
                transition: all 0.2s ease;
                -webkit-transition: all 0.2s ease;
                -moz-transition: all 0.2s ease;
                transform: rotateX(179.5deg);
                -webkit-transform: rotateX(179.5deg);
                -moz-transform: rotateX(179.5deg);
            }
            
            .b08_3d_pushback:hover div:nth-child(2) {
                transition: all 0.2s ease;
                -webkit-transition: all 0.2s ease;
                -moz-transition: all 0.2s ease;
                transform: rotateX(0deg) rotateY(0deg) translateZ(1px);
                -webkit-transform: rotateX(0deg) rotateY(0deg) translateZ(1px);
                -moz-transform: rotateX(0deg) rotateY(0deg) translateZ(1px);
            }

        }
        .filebox{
            flex: auto;
            padding: 5%;
            text-align: center;
            background-color: rgb(139, 139, 139);
            border: 5px dotted black;
            //height: 100%;
            //margin: 10%;
        }

        .text{
            flex: auto;
            padding: 5%;
            display: block;
            margin: auto 0;
            margin-left: 2%;
            text-align: left;
            h5{
                margin-top: 5%;
                margin-bottom: 5%;
            }

            .input{
                font-size: 30px;
                input{
                    background-color: $mainColor_dark;
                    border: none;
                    border-bottom: 1px solid white;
                    outline: none;
                    font-size: 20px;
                    color: white;
                    
                }
                input::placeholder{
                    color: rgb(253, 253, 253);
                }
            }

        }
        .summarybox{
            flex: 1;
            font-size: 120%;
            padding: 5%;
            padding-top: 3%;
            text-align: left;
            //background-color: rgb(139, 139, 139);
            border-right: 1px solid white;
            //height: 100%;
            //margin: 10%;
            .title{
                h5{
                    margin-top: 5%;
                    margin-bottom: 5%;
                }
                border-bottom: 1px solid white;
            }
            .floorinfo{
                h5{
                    margin-top: 5%;
                    margin-bottom: 5%;
                }
                border-bottom: 1px solid white;
            }
        }

        .userinfobox{
            flex: auto;
            padding: 5%;
            display: block;
            margin-left: 2%;
            .input{
                font-size: 20px;
            }
        }
        
    }
    &__contents--column{
        display: flex;
        flex-direction: column;
        flex: 1;
        color: white;
        border-top : 2px solid white;
        border-bottom : 2px solid white;
        padding-bottom: 10%;
        margin-left: 10%;
        margin-right: 10%;
        //margin-bottom: 5%;
        height: 100%;
        //margin: auto 0;
        //margin: auto 0;
        margin-bottom: 3%;
        .description{
            flex: 1;
            font-size: 30px;
            //text-align: center;
            line-height: 10%;
        }

        .textbox{
            display: flex;
            flex-direction: column;
            flex: 1;
            padding: 5%;
            text-align: center;
            display: inline-block;
            //margin: auto 0;
            .textinput{
                flex: 1;
                border: 1px solid black;
                font-size: 30px;
                width: 100%;
                height: 300px;
            }
        }
        .imgbox{
            display: flex;
            //flex: auto;
            padding: 0;
            text-align: center;
            background-color: none;
            border: 5px solid black;
            height: 300px;
            //overflow-x: none;
            overflow-y: scroll;
            //margin: 10%;
            .imgbutton{
                padding: 0;
                background-color: $mainColor_dark;
                //margin: 3px;
                border: none;
                cursor: pointer;
                border: none;
                padding: 10px;
            }
            .imgbutton:hover{
                background-color: $mainColor_light;
                content: "hidhi";
                z-index: 100;
            }
        }
    }

    &__img{
        display: flex;
        flex: 1;
        padding: 5%;
        text-align: center;
        justify-content: center;
        //background-color: rgb(130, 211, 141);
        img{
            flex: 1;
        }
    }
    &__text{
        flex: 1;
        color: $font100;
        padding: 5%;
        display: inline-block;
        margin: auto 0;
    }
    &__button{
        a{
            text-decoration:none;
            color: white;
        }
        display: flex;
        height: 100px;
        justify-content: space-between;
        //margin-left: auto;
        background-color: $mainColor_dark; /* Green */
        border: none;
        padding: 10px 24px;
        text-align: center;
        .start{
            margin-left: auto;
            .getstarted{
                display: inline;
                flex: 1;
                //margin-left:50% ;
                background-color: $mainColor_dark; /* Green */
                border: none;            
                color: white;
                font-size: 20px;
            }
        }

        .previous{
            display: inline;
            font-size: 20px;
            background-color: $mainColor_dark; /* Green */
            border: none;            
            color: white;
            font-size: 20px;
        }
        .next{
            display: inline;
            font-size: 20px;
            background-color: $mainColor_dark; /* Green */
            border: none;            
            color: white;
            font-size: 20px;
        }
    }
    &__button--1{
        a{
            text-decoration:none;
            color: white;
        }
        display: flex;
        height: 100px;
        justify-content: space-between;
        //margin-left: auto;
        background-color: #A5B584; /* Green */
        border: none;
        padding: 10px 24px;
        text-align: center;


        .previous{
            display: inline;
            font-size: 20px;
            background-color: #A5B584; /* Green */
            border: none;            
            color: white;
            font-size: 20px;
        }
        .next{
            display: inline;
            font-size: 20px;
            background-color: #A5B584; /* Green */
            border: none;            
            color: white;
            font-size: 20px;
        }
    }
}

