@import "./01-base/color";

.step {
    display: flex;
    flex-direction: column;
    flex: 1;
    &__outer-box {
        flex: 1;
        //background-color: $bg_secondary;
        padding-top:4%;
        background-color: lightblue;
        position: relative;
        width: 100%;
        //height: 90vh;
    }
    &__inner-box{
        display: flex;
        flex-direction: column;
        flex:1;

        margin: 10%;
        margin-top: 6%;
        margin-bottom: 3%;
        width: 80%;
        //height: 80vh;
        background-color: $bg_thirdary;
        //border: 2px solid black;
        color: black;
        overflow: hidden;
    }
    &__contents{
        display: flex;
        height: 100%;
        margin: auto 0;
    }
    &__img{
        flex: 1;
        padding: 10%;
        background-color: rgb(130, 211, 141);
    }
    &__text{
        flex: 1;
        padding: 5%;
        display: inline-block;
        margin: auto 0;
    }
    &__button{
        a{
            text-decoration:none;
            color: white;
        }
        display: flex;
        justify-content: space-between;
        //margin-left: auto;
        background-color: #4CAF50; /* Green */
        border: none;
        padding: 10px 24px;
        text-align: center;
        .getstarted{
            display: inline;
            margin-left: auto;
            font-size: 20px;
            background-color: #4CAF50; /* Green */
            border: none;
        }
    }
}



.Step0 {
    //background-color: $bg_primary;
    //text-align: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    
    .outer_box{
        //background-color: $bg_secondary;
        background-color: lightblue;
        position: relative;
        width: 100%;
        height: 90vh;
        .inner_box{
            display: flex;
            flex:1;
            flex-direction: column;
            margin: 10%;
            margin-top: 6%;
            margin-bottom: 3%;
            width: 80%;
            //height: 80vh;
            background-color: $bg_thirdary;
            //border: 2px solid black;
            color: black;
            overflow: hidden;

            .contents{
                display: flex;
                height: 100%;
                margin: auto 0;
                .Img{
                    flex: 1;
                    padding: 10%;
                    background-color: rgb(130, 211, 141);
                    //margin: 10%;
                }

                .text{
                    flex: 1;
                    padding: 5%;
                    display: inline-block;
                    margin: auto 0;
                }
            }
            .button{
                a{
                    text-decoration:none;
                    color: white;

                }
                display: flex;
                justify-content: space-between;
                //margin-left: auto;
                background-color: #4CAF50; /* Green */
                border: none;
                padding: 10px 24px;
                text-align: center;
                font-size: 16px;
                .getstarted{
                    display: inline;
                    margin-left: auto;
                }
            }
        }
    }
}

.Step1 {
    //background-color: $bg_primary;
    //text-align: center;
    display: flex;
    flex-direction: column;
    flex: 1;

    //margin-top: 100px;
    
    .outer_box{
        display: flex;
        //background-color: $bg_secondary;
        background-color: lightblue;
        position: relative;
        width: 100%;
        flex: 1;
        //height: 90vh;
        .inner_box{
            display: flex;
            flex: 1;
            flex-direction: column;
            margin: 10%;
            //margin-top: 6%;
            margin-bottom: 3%;
            width: 80%;
            //height: 80vh;
            background-color: $bg_thirdary;
            //border: 2px solid black;
            color: black;
            overflow: hidden;
            .progressbar{
                text-align: center;
            }
            .contents{
                display: flex;
                flex-direction: column;
                height: 100%;
                margin: auto 0;
                margin-bottom: 3%;
                .choicebox{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    margin: 0 auto;
                    .choice{
                        a{
                            text-decoration:none;
                        }
                        margin-bottom: 5%;
                        border: 1px solid black;
                        color: rgb(2, 1, 53);
                        padding: 10px 24px;
                        text-align: center;
                        font-size: 30px;
                        .description { display: none; }
                        &:hover .title { display: none; }
                        &:hover .description { display: inline; }
                    }
                    text-align: center;
                }
                
            }
            .button{
                a{
                    text-decoration:none;
                    color: white;

                }
                display: flex;
                justify-content: space-between;
                //margin-left: auto;
                background-color: #4CAF50; /* Green */
                border: none;
                padding: 10px 24px;
                text-align: center;
                font-size: 16px;
                .getstarted{
                    display: inline;
                    margin-left: auto;
                }
            }
        }
    }
}

.Step2 {
    //background-color: $bg_primary;
    //text-align: center;
    display: flex;
    flex-direction: column;
    flex: 1;

    //width: 100%;
   
    .outer_box{
        display: flex;
        //background-color: $bg_secondary;
        flex: 1;
        background-color: lightblue;
        position: relative;
        width: 100%;
        .inner_box{
            display: flex;
            flex-direction: column;
            flex: 1;
            margin: 10%;
            margin-top: 6%;
            margin-bottom: 3%;
            width: 80%;
            background-color: $bg_thirdary;
            color: black;
            overflow: hidden;

            .progressbar{
                text-align: center;
            }

            .contents{
                display: flex;
                flex: 1;
                flex-direction: row;
                //margin: auto 0;
                .filebox{
                    flex: auto;
                    padding: 5%;
                    text-align: center;
                    background-color: rgb(139, 139, 139);
                    border: 5px dotted black;
                    //height: 100%;
                    //margin: 10%;
                }

                .text{
                    flex: auto;
                    padding: 5%;
                    display: block;
                    margin: auto 0;
                    margin-left: 2%;
                    .input{
                        font-size: 20px;
                    }
                }
            }
            .button{
                a{
                    text-decoration:none;
                    color: white;

                }
                display: flex;
                justify-content: space-between;
                //margin-left: auto;
                background-color: #4CAF50; /* Green */
                border: none;
                padding: 10px 24px;
                text-align: center;
                font-size: 16px;
                .getstarted{
                    display: inline;
                    margin-left: auto;
                }
            }
        }
    }
}

.Step3 {
    display: flex;
    flex-direction: column;
    flex: 1;

    //margin-top: 100px;
    
    .outer_box{
        display: flex;
        //background-color: $bg_secondary;
        flex: 1;
        background-color: lightblue;
        position: relative;
        width: 100%;
        //height: 90vh;
        .inner_box{
            display: flex;
            flex: 1;
            flex-direction: column;
            margin: 10%;
            margin-top: 6%;
            margin-bottom: 3%;
            width: 80%;
            //height: 80vh;
            background-color: $bg_thirdary;
            //border: 2px solid black;
            color: black;
            overflow: hidden;

            .progressbar{
                text-align: center;
            }

            .contents{
                display: flex;
                flex-direction: column;
                //margin: auto 0;
                .imgbox{
                    display: flex;
                    //flex: auto;
                    padding: 0;
                    text-align: center;
                    background-color: rgb(255, 255, 255);
                    border: 5px dotted black;
                    //height: 100%;
                    overflow-y: scroll;
                    //margin: 10%;
                    .imgbutton{
                        padding: 0;
                        //margin: 3px;
                        border: none;
                        cursor: pointer;
                    }
                }

                .text{
                    flex: auto;
                    padding: 5%;
                    display: block;
                    margin: auto 0;
                    margin-left: 2%;
                    .input{
                        font-size: 20px;
                    }
                }
            }
            .button{
                a{
                    text-decoration:none;
                    color: white;
                }
                display: flex;
                justify-content: space-between;
                //margin-left: auto;
                background-color: #4CAF50; /* Green */
                border: none;
                padding: 10px 24px;
                text-align: center;
                font-size: 16px;

            }
        }
    }
}

.Step4 {
    //background-color: $bg_primary;
    //text-align: center;
    display: flex;
    flex-direction: column;
    flex: 1;

    //margin-top: 100px;
    
    .outer_box{
        //background-color: $bg_secondary;
        display: flex;
        flex: 1;
        background-color: lightblue;
        position: relative;
        width: 100%;
        height: 90vh;
        .inner_box{
            flex: 1;
            display: flex;
            flex-direction: column;
            margin: 10%;
            margin-top: 6%;
            margin-bottom: 3%;
            width: 80%;
            //height: 80vh;
            background-color: $bg_thirdary;
            //border: 2px solid black;
            color: black;
            //overflow: hidden;
            .progressbar{
                text-align: center;
            }

            .contents{
                display: flex;
                flex-direction: column;
                flex: 1;
                height: 100%;
                margin: auto 0;
                margin-bottom: 3%;
                .description{
                    font-size: 20px;
                    text-align: center;
                    line-height: 10%;
                }

                .textbox{
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                    padding: 5%;
                    text-align: center;
                    display: inline-block;
                    //margin: auto 0;
                    .textinput{
                        flex: 1;
                        border: 1px solid black;
                        font-size: 30px;
                        width: 100%;
                    }
                }
            }
            .button{
                a{
                    text-decoration:none;
                    color: white;

                }
                display: flex;
                
                justify-content: space-between;
                //margin-left: auto;
                background-color: #4CAF50; /* Green */
                border: none;
                padding: 10px 24px;
                text-align: center;
                font-size: 16px;
                .getstarted{
                    display: inline;
                    margin-left: auto;
                }
            }
        }
    }
}

.Step5 {
    //background-color: $bg_primary;
    //text-align: center;
    display: flex;
    flex-direction: column;
    flex: 1;

    //width: 100%;
   
    .outer_box{
        display: flex;
        //background-color: $bg_secondary;
        flex: 1;
        background-color: lightblue;
        position: relative;
        width: 100%;
        .inner_box{
            display: flex;
            flex-direction: column;
            flex: 1;
            margin: 10%;
            margin-top: 6%;
            margin-bottom: 3%;
            width: 80%;
            background-color: $bg_thirdary;
            color: black;
            overflow: hidden;

            .contents{
                display: flex;
                flex: 1;
                flex-direction: row;
                //margin: auto 0;
                .summarybox{
                    flex: auto;
                    padding: 5%;
                    text-align: center;
                    background-color: rgb(139, 139, 139);
                    border: 5px dotted black;
                    //height: 100%;
                    //margin: 10%;
                }

                .userinfobox{
                    flex: auto;
                    padding: 5%;
                    display: block;
                    margin-left: 2%;
                    .input{
                        font-size: 20px;
                    }
                }
            }
            .button{
                a{
                    text-decoration:none;
                    color: white;

                }
                display: flex;
                justify-content: space-between;
                //margin-left: auto;
                background-color: #4CAF50; /* Green */
                border: none;
                padding: 10px 24px;
                text-align: center;
                font-size: 16px;
                .getstarted{
                    display: inline;
                    margin-left: auto;
                }
            }
        }
    }
}